header{
    position:fixed;

}
.fixed-placeholder{
    height:80px;

}

.grid-header {
    width:100%;
}

#grdFiles tr > .type {
    width:25px;
}
#grdFiles tr > .modified {
    width:150px;
}
#grdFiles tr > .size {
    width:150px;
}
#grdFiles tr > .extension {
    width:150px;
}
