<div *ngIf="selectedMovie != null">
    <button (click)="goBack()">Back</button>
    <p>This will show when there's a selected movie</p>
    <p><img src="{{selectedMovie.poster.w185}}" /></p>
</div>

<div class="media" *ngIf="selectedMovie == null">
    <div class="leftpane">
        <header class="header">
            <a class="logo">
                <img src="../img/media/logo.svg" />
            </a>
        </header>
        <div class="filter">
            <button class="active">all content</button>
            <button>tv shows</button>
            <button>movies</button>
        </div>
    </div>
    <!-- Leftpane ends here -->
    <div class="rightpane">
        <div class="gridtop">
            <div class="title">your watchlist</div>
            <div class="search">
                <input type="text" placeholder="quicksearch">
            </div>
        </div>
        <!-- <h3 class="title">your watchlist</h3> -->
        <ul class="pool">
            <li *ngFor="let movie of movies" (click)="movie_click(movie)">
                <div class="poster">
                    <img src="{{movie.poster.w185}}">
                </div>
                <div class="details">
                    <h5 class="title">{{movie.title}}</h5>
                    <span class="playtime">1hr:45min</span>
                    <img src="{{movie.poster.w342}}">
                    <div class="details">
                        <div class="rating">{{movie.vote_average}}</div>
                        <span class="playtime">1hr:45min</span>
                        <a class="icon playicon">play</a>
                        <a class="status">mark as watched</a>
                    </div>
                </div>
                <h5 class="content-title">{{movie.title}}</h5>
            </li>
        </ul>
    </div><!-- End of Right pane -->
</div>