<nav>
    <section class="flex">
        <button (click)="scan()">scan</button>
        <button (click)="reAnalyze()">re-analyze</button>
        <button (click)="app.tmdb.loginToTmdb()">tmdb login</button>
        <button (click)="tmdbV4Login()">tmdb v4 login</button>
        <button (click)="tmdbV4Tests()">tmdb v4 tests</button>
        <button (click)="getAllMediaFiles()">Refresh</button>
        <button (click)="app.tmdb.markAllRatedAsWatched()">Mark all rated as watched</button>
        <button (click)="app.downloadRatings()">Download Ratings</button>
        <button (click)="app.downloadWatchlists()">downloadWatchlists</button>
        <button (click)="app.getSavedRatings()">getSavedRatings</button>
        <button (click)="tvAiringToday()">airing today</button>
        <button (click)="tvOnTheAir()">on the air</button>
    </section>

    <section class="flex">
        <button (click)="prevPage()">Prev Page</button>
        <button (click)="nextPage()">Next Page</button>
        <label>{{skip}}-{{skip+pageSize}} / {{filteredMovies?.length}} (total: {{allMovies?.length}})</label>
    </section>
    <section *ngIf="app.config!=null">
        <h3>Folders</h3>
        <button (click)="addConfigFolder()">+</button>
        <div *ngFor="let folder of app.config.folders">
            <input [(ngModel)]="folder.path" />
        </div>
        <button (click)="app.saveConfig()">save</button>
    </section>
    <section>
        <pre>{{scanStatus | json}}</pre>
    </section>


    <section class="flex" (click)="onFiltersChanged()">
        <button [class.selected]="filter.type == null" (click)="filter.type = null" class="allmedia">All Media</button>
        <button [class.selected]="filter.type == 'tv'" (click)="filter.type = 'tv'" class="tv">TV Shows</button>
        <button [class.selected]="filter.type == 'movie'" (click)="filter.type = 'movie'" class="movie">Movies</button>
        <button [class.selected]="filter.watched == null" (click)="filter.watched = null" class="selected">Both</button>
        <button [class.selected]="filter.watched == true" (click)="filter.watched = true">Watched</button>
        <button [class.selected]="filter.watched == false" (click)="filter.watched = false">Not Watched</button>
        <button [class.selected]="filter.groupSimilar == true" (click)="filter.groupSimilar  = true">Group</button>
        <button [class.selected]="filter.groupSimilar == false" (click)="filter.groupSimilar = false">Ungroup</button>
    </section>

    <section class="flex">
        <span class="title">Explore</span>
        <button class="allmedia">Most Popular</button>
        <button class="tv">Your Feed</button>
        <button class="movie">Recommended</button>
    </section>
    <section class="search">
        <input type="text" placeholder="Quick Search" [(ngModel)]="filter.search" (input)="scheduleApplyFilter()" />
    </section>
</nav>



<table class="medias">
    <thead>
        <tr>
            <th></th>
            <th>name</th>
            <th>released</th>
            <th>vote</th>
            <th>
                fsEntry.mtime
                <button [class.selected]="filter.sortBy == 'fsEntry.mtime desc'" (click)="filter.sortBy = 'fsEntry.mtime desc'; getAvailableMedia();">desc</button>
                <button [class.selected]="filter.sortBy == 'fsEntry.mtime asc'" (click)="filter.sortBy = 'fsEntry.mtime asc'; getAvailableMedia();">asc</button>
            </th>
            <th>
                md.watched
                <button [class.selected]="filter.sortBy == 'md.episodeKey desc'" (click)="filter.sortBy = 'md.episodeKey desc'">desc</button>
                <button [class.selected]="filter.sortBy == 'md.episodeKey asc'" (click)="filter.sortBy = 'md.episodeKey asc'">asc</button>
            </th>
            <th>md.episodeKey</th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let media of movies" class="media" [class.has-poster]="showPosters && media.tmdb?.poster?.w342 != null">
            <td><img *ngIf="showPosters && media.tmdb?.poster?.w342" src="{{media.tmdb?.poster?.w342}}"></td>
            <td>{{getName(media)}}</td>
            <td>{{media.tmdb?.release_date}}</td>
            <td>{{media.tmdb?.vote_average}}</td>
            <td>{{media.fsEntry?.mtime}}</td>
            <td>{{media.md?.watched}}</td>
            <td>{{media.md?.episodeKey}}</td>
            <td><button (click)="movie_click(media)">open</button></td>
            <td><button (click)="markAsWatched(media)">watched</button></td>
            <td><button [class.disabled]="canPlay(media)" (click)="play(media)">Play</button></td>
        </tr>
    </tbody>
</table>

<div *ngIf="selectedMovie != null">
    <div class="selectedMovie" [ngStyle]="showPosters ? { 'background': 'transparent url(' + selectedMovie.tmdb?.backdrop?.original + ') top center no-repeat', 'background-size': 'cover' } : {}">
        <div class="background-cover">
            <button class="backBtn" (click)="goBack()">Back</button>
            <div class="cover"><img src="{{selectedMovie.tmdb?.poster?.w342}}" /></div>
            <div class="detailsLarge">
                <h3 class="title">{{getName(selectedMovie)}}</h3>
                <div class="tag">{{selectedMovie.tmdb?.tagline}}</div>
                <div class="metadata">
                    <span class="rate">
                        <img src="/img/media/rate-icon.svg" />{{selectedMovie.tmdb?.vote_average}}
                    </span>
                    <span>{{selectedMovie.tmdb?.release_date}}</span>
                    <span>{{selectedMovie.tmdb?.runtime}} minutes</span>
                    <span>{{selectedMovie.tmdb?.genres?.name}}</span>
                </div>
                <p class="synopsis">{{selectedMovie.tmdb?.overview}}</p>
            </div>
        </div>
    </div>
</div>
