<div *ngIf="selectedMovie != null">
    <button (click)="goBack()">Back</button>
    <p>This will show when there's a selected movie</p>
    <p><img src="{{selectedMovie.poster?.w185}}" /></p>
</div>
<div class="media" *ngIf="selectedMovie == null">
    <div class="leftpane">
        <header class="header">
            <a class="logo">
                <img src="../img/media/logo.svg" />
            </a>
        </header>
        <div class="filter local">
            <span class="title">Watchlist</span>
            <button class="allmedia selected">All Media</button>
            <button class="tv">TV Shows</button>
            <button class="movie">Movies</button>
        </div>
        <div class="filter explore">
            <span class="title">Explore</span>
            <button class="allmedia">Most Popular</button>
            <button class="tv">Your Feed</button>
            <button class="movie">Recommended</button>
        </div>
    </div>
    <!-- Leftpane ends here -->
    <div class="rightpane">
        <div class="gridtop">
            <!-- <div class="title">your watchlist</div> -->
            <div class="search">
                <input type="text" placeholder="Quick Search">
            </div>
        </div>
        <!-- <h3 class="title">your watchlist</h3> -->
        <ul class="pool">
            <li *ngFor="let movie of movies">
                <div class="poster">
                    <img src="{{movie.tmdb?.poster?.w342}}">
                </div>
                <div class="details">
                    <h5 class="title">{{movie.tmdb?.title}}</h5>
                    <span class="playtime">movie.tmdb.runtime}} min</span>
                    <div class="rating">{{movie.tmdb?.vote_average}}</div>
                    <a class="icon playicon" (click)="movie_click(movie)"><img src="../img/media/play-icon.svg" /></a>
                    <button class="status" (click)="markAsWatched(media)">mark as watched</button>
                </div>
            </li>
        </ul>
    </div><!-- End of Right pane -->
</div>

<div *ngIf="app.config!=null">
    <h3>Folders</h3>
    <div *ngFor="let folder of app.config.folders">
        <input [(ngModel)]="folder.path" />
    </div>
    <button (click)="addConfigFolder()">+</button>
    <button (click)="app.saveConfig()">save</button>
    <button (click)="app.scan()">scan</button>
    <button (click)="app.tmdb.loginToTmdb()">tmdb login</button>
    <button (click)="tmdbV4Login()">tmdb v4 login</button>
    <button (click)="tmdbV4Tests()">tmdb v4 tests</button>
    <button (click)="getAvailableMedia()">getAvailableMedia</button>
    <button (click)="app.tmdb.markAllRatedAsWatched()">Mark all rated as watched</button>
    <button (click)="app.downloadRatings()">Download Ratings</button>
    <button (click)="app.downloadWatchlists()">downloadWatchlists</button>
    <button (click)="app.getSavedRatings()">getSavedRatings</button>
    <button (click)="tvAiringToday()">airing today</button>
    <button (click)="tvOnTheAir()">on the air</button>
    
</div>
<div style="color:white">
    <div *ngFor="let media of movies">
        <span>{{getName(media)}}</span>
        <button (click)="markAsWatched(media)">mark as watched</button>
        <button [class.disabled]="media.filenames!=null && media.filenames.length>0" (click)="media.play()">Play</button>
    </div>
</div>
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />