@import "../scss/var";


body {
    background-color: $media-bg;
    font-family: $media-font-regular;
    line-height: 1.5;
    font-size: $ms-1;
}


/* Container Settings */

.media {
    // max-width: em(1280);
    width: 100%;
    display: flex;
}


/*** Everything on the left pane ***/

.leftpane {
    width: 15%;
    // background-color: $media-bg-variant;
    min-height: 100vh;
}


.filter {
    padding: em(25) 0 0 em(40);
    margin-bottom: em(16);
    position: relative;

	.title {
		font-size: em(12);
		font-family: $media-font-regular;
		color: $media-grey-color;
		text-transform: uppercase;
		letter-spacing: 1px;
		margin-bottom: em(16);
		display: block;
	}

	button {
		font-family: $media-font-regular;
		-webkit-font-smoothing: antialiased;
		@include transition(color .3s ease);
		padding: 0;
		font-size: em(20);
		color: #fff;
		display: block;
		border: none;
		background: none;
		width: 100%;
		margin-bottom: em(5);
		text-align: left;
		cursor: pointer;

		&:focus, &:active {
			outline: 0;
		}

		&.selected, &:hover {
			color: $media-pri-color;
			outline: 0;
		}

		&.allmedia {
			
		}
	}
}

/* Header Settings */

.header {
    padding: em(26);
    // border-bottom: 1px solid $media-border;
}



/***** Everything on the right pane ****/

.rightpane {
    width: 85%;
    padding: 0 em(40) em(40);
}

.title {
    margin-right: em(20);
    font-size: em(24);
    font-family: $media-font-bold;
    -webkit-font-smoothing: antialiased;
}

.gridtop {
    display: flex;
    justify-content: space-between;
    // border-bottom: 1px solid $media-border;
    padding: em(16) 0;
    align-items: center;
}

.search {
    background-color: $media-bg-variant;
    border-radius: 50px;

    input {
        border: none;
        padding: em(12) em(16);
        background: none;
    }
}


.pool {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-content: flex-start;
    margin-top: em(32);
}

.pool li {
    justify-content: space-between;
    width: em(180);
    height: auto;
    position: relative;
    // border: 1px solid $media-border;
    border-radius: 4px;
    overflow: hidden;
    margin-bottom: em(16);
}

.poster {
    width: 100%;
    position: relative;

    img {
        width: 100%;
    }
}



.details {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    background-color: rgba(16, 17, 29, .97);
    text-align: center;
    padding: em(20);

    .title {
		margin: em(10) 0 em(5);
	    font-size: em(18);
	    line-height: 1.25;
	    display: block;
	    text-align: center;
	    font-family: $media-font-bold;
	    // text-overflow: ellipsis;
	    // white-space: nowrap;
	    // overflow: hidden;
	    padding: 0 em(5);
	    -webkit-font-smoothing: antialiased;
	    color: #fff;
	}
}

.playtime {
	color: lighten($media-grey-color, 10%);
	font-size: em(15);
	display:block;

}

.status {
	border: 1px solid lighten($media-border, 15%);
	padding: em(4) em(8);
	display: block;
	color:  lighten($media-border, 15%);
	position: absolute;
	bottom: 10%;
	margin: auto;

}


.rating {
    font-size: em(16);
    color: $media-grey-color;
    background-color: $media-pri-color;
    display: inline-block;
    position: absolute;
    margin: em(10);
    top: 0;
    right: 0;
}

.pool li {

    &:hover {
        .details {
            opacity: 1;
        }
    }
}
