/* Colours */
/* utilities */
/* Typography */
/* Font-Sizes */
/* Mixins */
/* transition Mixins */
/* px to rem change */
/* Media Variables */
/* Typography */
body {
  background-color: #151828;
  font-family: "FreightSansProBook-Regular", "helvetica-neue", helvetica, sans-serif;
  line-height: 1.5;
  font-size: 1em; }

/* Container Settings */
.media {
  width: 100%;
  display: flex; }

/*** Everything on the left pane ***/
.leftpane {
  width: 15%;
  min-height: 100vh; }

.filter {
  padding: 1.5625em 0 0 2.5em;
  margin-bottom: 1em;
  position: relative; }
  .filter .title {
    font-size: 0.75em;
    font-family: "FreightSansProBook-Regular", "helvetica-neue", helvetica, sans-serif;
    color: #4C4F64;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-bottom: 1em;
    display: block; }
  .filter button {
    font-family: "FreightSansProBook-Regular", "helvetica-neue", helvetica, sans-serif;
    -webkit-font-smoothing: antialiased;
    -webkit-transition: color 0.3s ease;
    -moz-transition: color 0.3s ease;
    -ms-transition: color 0.3s ease;
    -o-transition: color 0.3s ease;
    transition: color 0.3s ease;
    padding: 0;
    font-size: 1.25em;
    color: #fff;
    display: block;
    border: none;
    background: none;
    width: 100%;
    margin-bottom: 0.3125em;
    text-align: left;
    cursor: pointer; }
    .filter button:focus, .filter button:active {
      outline: 0; }
    .filter button.selected, .filter button:hover {
      color: #07E2D4;
      outline: 0; }

/* Header Settings */
.header {
  padding: 1.625em; }

/***** Everything on the right pane ****/
.rightpane {
  width: 85%;
  padding: 0 2.5em 2.5em; }

.title {
  margin-right: 1.25em;
  font-size: 1.5em;
  font-family: "FreightTextBold", monospace, "helvetica-neue", helvetica, sans-serif;
  -webkit-font-smoothing: antialiased; }

.gridtop {
  display: flex;
  justify-content: flex-end;
  padding: 1em 0;
  align-items: center; }

.search {
  background-color: #191c2f;
  border-radius: 50px;
  width: 300px;
  margin-top: 0.625em;
  padding: 0.5em; }
  .search input {
    border: none;
    padding-left: 2em;
    background-color: none;
    background: url(../../img/media/search-icon.svg) no-repeat left center;
    width: 100%;
    font-size: 0.875em;
    color: #fff; }
    .search input:active, .search input:focus {
      outline: none; }

.pool {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-content: flex-start;
  align-items: flex-start;
  margin-top: 2em; }
  .pool li {
    justify-content: space-between;
    width: 11.25em;
    position: relative;
    border-radius: 4px;
    margin-bottom: 1em;
    height: 16.875em;
    align-self: flex-start; }

.poster {
  width: 100%;
  position: relative;
  border-radius: 4px;
  overflow: hidden; }
  .poster img {
    width: 100%; }

.details {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  background-color: rgba(16, 17, 29, 0.97);
  text-align: center;
  padding: 1.25em;
  -webkit-transition: opacity 0.3s ease;
  -moz-transition: opacity 0.3s ease;
  -ms-transition: opacity 0.3s ease;
  -o-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease; }
  .details .title {
    margin: 0.625em 0 0.3125em;
    font-size: 1.125em;
    line-height: 1.25;
    display: block;
    text-align: center;
    font-family: "FreightTextBold", monospace, "helvetica-neue", helvetica, sans-serif;
    padding: 0 0.3125em;
    -webkit-font-smoothing: antialiased;
    color: #fff; }

.playtime {
  color: #3c4472;
  font-size: 0.9375em;
  display: block; }

.playicon {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  cursor: pointer;
  opacity: .5;
  -webkit-transition: opacity 0.3s ease;
  -moz-transition: opacity 0.3s ease;
  -ms-transition: opacity 0.3s ease;
  -o-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease; }
  .playicon:hover {
    opacity: 1; }

.status {
  border: 1px solid #3c4472;
  background: none;
  font-family: "FreightSansProBook-Regular", "helvetica-neue", helvetica, sans-serif;
  padding: 0.5em;
  font-size: 0.875em;
  color: #3c4472;
  position: absolute;
  top: 85%;
  left: 50%;
  min-width: 75%;
  transform: translate(-50%, -50%);
  vertical-align: baseline;
  border-radius: 4px;
  cursor: pointer;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease; }
  .status:hover {
    background-color: #272c49;
    color: #4d5893; }
  .status:focus, .status:active {
    outline: 0; }

.rating {
  font-size: 1em;
  font-family: "FreightTextBold", monospace, "helvetica-neue", helvetica, sans-serif;
  color: #4C4F64;
  background-color: #EA5111;
  display: inline-block;
  position: absolute;
  top: -10px;
  right: -8px;
  z-index: 20;
  padding: 7px;
  color: #fff;
  padding: 0px;
  width: 40px;
  height: 40px;
  line-height: 40px;
  border-radius: 50px;
  vertical-align: baseline; }

.pool li:hover {
  box-shadow: 0px 0px 20px 3px rgba(0, 0, 0, 0.5); }
  .pool li:hover .details {
    opacity: 1; }
