/* or 'dark'  */
/* light theme  */
/*#053e70;*/
/*#e5eef5;*/
/**************/
/* dark theme */
/**************/
.fg1 {
  color: #333;
}
.fg2 {
  color: #666;
}
.fg3 {
  color: #999;
}
.bg1 {
  background-color: #fff;
}
.bg2 {
  background-color: #eee;
}
.bg3 {
  background-color: #ccc;
}
.bg-sel1 {
  background-color: #8ac8ff;
}
.bg-sel2 {
  background-color: #c8dbea;
}
.bg-sel3 {
  background-color: #f9e24e;
}
.bg-sel4 {
  background-color: #fbec88;
}
.bg-sel5 {
  background-color: #fffbe7;
}
.palette {
  display: none;
}
.palette > div > div {
  height: 100px;
  width: 100px;
  display: inline-block;
  text-align: center;
  vertical-align: top;
}
html {
  margin: 0;
  padding: 0;
}
body {
  font-family: Arial;
  font-size: 12px;
  cursor: default;
  color: #333;
  background-color: #fff;
  margin: 0;
  padding: 0 0 50px 0;
}
input,
select {
  box-sizing: border-box;
  color: #333;
  background-color: #fff;
  font-size: inherit;
}
button {
  color: #333;
  background-color: #fff;
  font-size: inherit;
}
a {
  color: inherit;
  /*cursor: default;*/
}
.active {
  background-color: #eee;
}
nav {
  background-color: #fff;
  font-size: 10px;
  color: #666;
}
.menu {
  margin-right: 50px;
}
nav.hidden {
  visibility: hidden;
}
nav.fixed {
  position: fixed;
  top: 0;
  width: 100%;
}
#navbar .find {
  display: inline-block;
}
#tbPath {
  width: 100%;
  font-size: inherit;
}
.nav {
  margin: 0;
  padding: 0;
  display: inline-block;
}
.nav > li {
  display: inline-block;
  list-style: none;
}
.nav > li > a {
  text-decoration: none;
  padding: 10px;
  display: inline-block;
}
ul.nav > li:hover > a {
  background-color: #eee;
}
ul.nav > li.active:hover > a {
  background-color: #ccc;
}
.form-control,
.btn {
  border: 1px solid #ccc;
  border-radius: 3px;
  padding: 5px;
}
.Pager .PrevPage,
.Pager .NextPage {
  border: 1px solid #ccc;
  border-radius: 3px;
  padding: 5px;
}
.Pager .PrevPage:hover,
.Pager .NextPage:hover {
  background-color: #eee;
}
.Pager .PrevPage::after {
  content: "<";
}
.Pager .NextPage::after {
  content: ">";
}
.Pager .PagerInfo {
  white-space: nowrap;
}
a.Name {
  text-decoration: none;
}
a.Name:hover {
  border-bottom: 1px solid #999;
}
.container-fluid {
  padding-left: 0;
}
.form-group {
  margin-bottom: 0;
}
.Grid > table {
  border-collapse: collapse;
  table-layout: fixed;
  border-spacing: 0;
}
.Grid > table > thead > tr {
  border-bottom: 1px solid #eee;
}
.Grid > table > thead > tr > th > button {
  width: 100%;
  min-height: 100%;
  border: none;
  background-color: inherit;
  padding: 4px;
}
.Grid > table > thead > tr > th {
  padding: 0;
  white-space: nowrap;
  cursor: default;
  font-weight: normal;
  text-align: left;
  vertical-align: top;
}
.Grid > table > thead > tr > th:hover {
  background-color: #eee;
}
.Grid > table > thead > tr > th.OrderBy.Asc {
  background-color: #eee;
}
.Grid > table > thead > tr > th.OrderBy.Desc {
  background-color: #ccc;
}
.Grid > table > tfoot > tr > th {
  padding: 4px 8px;
  white-space: nowrap;
  cursor: pointer;
  font-weight: bold;
}
/*.Grid > table > tbody > tr {
    border-bottom: 1px solid @bg2;
}*/
.Grid > table > tbody > tr > td {
  padding: 4px 8px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.Grid > table > tbody > tr > td:first-child {
  padding: 0;
  text-align: center;
}
/*.Grid > table > tbody > tr:hover {
    outline: 1px solid #ccc;
}
.Grid > table > tfoot > tr:hover {
    outline: 1px solid #ccc;
}*/
.Grid > .Pager > .Pages > .Page {
  display: inline-block;
  width: 20px;
  line-height: 20px;
}
.Grid > .Search {
  display: inline-block;
}
.Grid > .Pager {
  display: inline-block;
  margin: 0 5px;
}
.Grid > .Pager > .PagerInfo {
  display: inline-block;
  margin: 0 5px;
}
.Grid > .Pager > .NextPage {
  visibility: hidden;
}
.Grid.HasNoPages > .Pager {
  visibility: hidden;
}
.Grid.HasOnePage > .Pager {
  visibility: hidden;
}
.Grid.HasNextPage > .Pager > .NextPage {
  visibility: visible;
}
.Grid > .Pager > .PrevPage {
  visibility: hidden;
}
.Grid.HasPrevPage > .Pager > .PrevPage {
  visibility: visible;
}
#grdFiles > table {
  width: 100%;
}
#grdFiles {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
/*.FileRow.IsFile a,
.FileRow.IsFile a:focus,*/
/*.FileRow .glyphicon {
    color: #92B4D2;
}*/
/*.FileRow.IsFile a:hover {
    color: @bg-sel4;
}*/
.FileRow:hover {
  background-color: #f9e24e;
}
.FileRow.Selected {
  background-color: #c8dbea;
  /*color: @bg1;*/
}
.FileRow.HasInnerSelection {
  color: rgba(51, 51, 51, 0.3);
}
.FileRow.Selected:hover {
  background-color: #8ac8ff;
  /*color: @fg3;*/
}
/*.FileRow.HasInnerSelection:hover {
    background-color: @bg-sel4;
}*/
#clock {
  white-space: pre;
  line-height: 1em;
  text-align: center;
  text-decoration: none;
  padding: 5px;
  display: inline-block;
  position: fixed;
  top: 0;
  right: 0;
}
.lnr {
  /*color: #0F52BA;*/
  font-size: 20px;
  /* To get crisp results, use sizes that are
  a multiple of 20; because Linearicons was
  designed on a 20 by 20 grid. */
}
#grdFiles {
  border-bottom: 1px solid #ccc;
}
#tbQuickFind {
  position: absolute;
  top: 0;
  right: 0;
  border: 0;
  background-color: transparent;
  opacity: 0;
}
#tbQuickFind.HasValue {
  opacity: 1;
}
.imdb label {
  margin-right: 10px;
}
.imdb .poster {
  float: right;
}
.imdb .poster img {
  max-width: 300px;
  max-height: 300px;
}
