@import url("https://fonts.googleapis.com/css?family=Space+Mono");
@import url("https://fonts.googleapis.com/css?family=PT+Sans:400,700");
html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

@font-face {
  font-family: 'FreightSansProBook-Regular';
  src: url("../fonts/FreightSansProBook-Regular.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/FreightSansProBook-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/FreightSansProBook-Regular.woff") format("woff"), url("../fonts/FreightSansProBook-Regular.ttf") format("truetype"), url("../fonts/FreightSansProBook-Regular.svg#b30972ed497fd4719b55c16821a18b60") format("svg");
  /* Legacy iOS */
  font-style: normal;
  font-weight: 400; }
@font-face {
  font-family: 'FreightTextBold';
  src: url("../fonts/FreightTextBold.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/FreightTextBold.eot?#iefix") format("embedded-opentype"), url("../fonts/FreightTextBold.woff") format("woff"), url("../fonts/FreightTextBold.ttf") format("truetype"), url("../fonts/FreightTextBold.svg#22166cf851d0c0952bd58935fa7e3ba9") format("svg");
  /* Legacy iOS */
  font-style: normal;
  font-weight: 700; }
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* Colours */
/* utilities */
/* Typography */
/* Font-Sizes */
/* Mixins */
/* transition Mixins */
/* px to rem change */
/* Media Variables */
/* Typography */
body {
  background-color: #060606;
  font-family: "PT Sans", "helvetica-neue", helvetica, sans-serif;
  line-height: 1.5;
  font-size: 1em; }

nav {
  background-color: #181818; }
  nav .clock {
    display: inline-block;
    position: absolute;
    top: 14px;
    right: 20px;
    font-size: 16px;
    -webkit-font-smoothing: antialiased;
    color: #999; }
  nav .menu {
    padding: 0.5em;
    border-bottom: 1px solid #282828;
    margin-right: 0;
    /* default.less override */
    max-width: 100%;
    margin-left: auto;
    margin-right: auto; }
    nav .menu::after {
      clear: both;
      content: "";
      display: block; }
    nav .menu .buttons {
      display: inline-block; }
      nav .menu .buttons .navigate, nav .menu .buttons .fOptions, nav .menu .buttons .others {
        display: inline-block;
        background-color: #0c0c0c;
        text-align: center;
        margin-right: 1em;
        border-radius: 20px; }
        nav .menu .buttons .navigate > button:first-child, nav .menu .buttons .fOptions > button:first-child, nav .menu .buttons .others > button:first-child {
          border-left: none;
          border-top-left-radius: 20px;
          border-bottom-left-radius: 20px; }
        nav .menu .buttons .navigate > button:last-child, nav .menu .buttons .fOptions > button:last-child, nav .menu .buttons .others > button:last-child {
          border-right: none;
          border-top-right-radius: 20px;
          border-bottom-right-radius: 20px; }
      nav .menu .buttons button {
        font-family: "PT Sans", "helvetica-neue", helvetica, sans-serif;
        border: none;
        border-right: 1px solid #282828;
        border-radius: 0;
        font-size: 0.833em;
        color: #999;
        padding: 8px 15px 8px 30px;
        -webkit-font-smoothing: antialiased;
        background: none;
        cursor: pointer;
        -webkit-transition: all 0.3s ease;
        -moz-transition: all 0.3s ease;
        -ms-transition: all 0.3s ease;
        -o-transition: all 0.3s ease;
        transition: all 0.3s ease; }
        nav .menu .buttons button.GotoParentDir {
          background: url(../img/icons/up.svg) no-repeat 13px 46%; }
        nav .menu .buttons button.GotoPrevSibling {
          background: url(../img/icons/prev.svg) no-repeat 13px 46%; }
        nav .menu .buttons button.GotoNextSibling {
          background: url(../img/icons/next.svg) no-repeat 13px 46%; }
        nav .menu .buttons button.Size {
          background: url(../img/icons/folder.svg) no-repeat 13px 46%;
          padding-left: 40px; }
        nav .menu .buttons button.Google {
          background: url(../img/icons/google.svg) no-repeat 13px 46%;
          padding-left: 40px; }
        nav .menu .buttons button.Delete {
          background: url(../img/icons/trash.svg) no-repeat 13px 46%;
          padding-left: 40px; }
        nav .menu .buttons button.Subs {
          background: url(../img/icons/subtitle.svg) no-repeat 13px 46%;
          padding-left: 40px; }
        nav .menu .buttons button.Imdb {
          background: url(../img/icons/imdb.svg) no-repeat 13px 46%;
          padding-left: 40px; }
        nav .menu .buttons button.Explore {
          background: url(../img/icons/explore.svg) no-repeat 13px 46%;
          padding-left: 40px; }
        nav .menu .buttons button.Sort {
          background: url(../img/icons/sort.svg) no-repeat 13px 46%;
          padding-left: 40px; }
        nav .menu .buttons button.More {
          background: url(../img/icons/more.svg) no-repeat 13px 46%;
          padding-left: 40px;
          border-right: none;
          border-top-right-radius: 20px;
          border-bottom-right-radius: 20px; }
        nav .menu .buttons button:hover {
          background-color: #A276F8;
          color: #fff; }
        nav .menu .buttons button.active {
          outline: none;
          background-color: #A276F8;
          color: #fff; }
  nav .addressBar {
    padding: 0.25em 0.5em;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto; }
    nav .addressBar::after {
      clear: both;
      content: "";
      display: block; }
    nav .addressBar #tbPath {
      float: left;
      display: block;
      margin-right: 2.74614%;
      width: 65.75129%;
      border: none;
      font-size: .8em;
      -webkit-font-smoothing: antialiased;
      padding: .5em;
      border-bottom: 1px solid #282828;
      -webkit-transition: all 0.3s ease;
      -moz-transition: all 0.3s ease;
      -ms-transition: all 0.3s ease;
      -o-transition: all 0.3s ease;
      transition: all 0.3s ease; }
      nav .addressBar #tbPath:last-child {
        margin-right: 0; }
      nav .addressBar #tbPath:hover {
        border-bottom: 1px solid #323232; }
      nav .addressBar #tbPath:active, nav .addressBar #tbPath:focus {
        outline: none; }
    nav .addressBar .right-side {
      float: left;
      display: block;
      margin-right: 2.74614%;
      width: 31.50258%;
      text-align: right; }
      nav .addressBar .right-side:last-child {
        margin-right: 0; }
      nav .addressBar .right-side #tbSearch {
        border-radius: 20px;
        border: 1px solid #141414;
        font-size: 0.833em;
        -webkit-font-smoothing: antialiased;
        padding: 0.25em 0.5em;
        -webkit-transition: all 0.3s ease;
        -moz-transition: all 0.3s ease;
        -ms-transition: all 0.3s ease;
        -o-transition: all 0.3s ease;
        transition: all 0.3s ease; }
        nav .addressBar .right-side #tbSearch:hover {
          border-bottom: 1px solid #323232; }
        nav .addressBar .right-side #tbSearch:active, nav .addressBar .right-side #tbSearch:focus {
          outline: none; }

.grid-header thead tr {
  background-color: #060606;
  border-bottom: 1px solid #141414;
  text-align: left; }
  .grid-header thead tr th {
    padding: 0.5em;
    font-size: 0.694em;
    text-transform: uppercase;
    -webkit-font-smoothing: antialiased;
    letter-spacing: 1px;
    color: #999; }

.Grid > table > tbody > tr {
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  -webkit-font-smoothing: antialiased;
  border: 1px solid #0c0c0c;
  color: #999; }
  .Grid > table > tbody > tr > td {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    box-sizing: border-box;
    padding: 10px 0px; }

.grid-header tr thead th {
  padding: 10px 0; }

.FileRow {
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  cursor: pointer; }
  .FileRow:hover {
    background-color: #000;
    color: #A276F8; }
    .FileRow:hover td .Name {
      text-decoration: none; }
  .FileRow.Selected {
    color: #fff;
    background-color: #A276F8;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease; }
