<?xml version="1.0"?>
<configuration>
  <connectionStrings>
  </connectionStrings>
  <appSettings>
    <add key="DemoSiteRootPath" value="C:\Demo"/>
    <add key="IsDemo" value="false"/>
  </appSettings>
  <system.web>
    <compilation debug="false" targetFramework="4.0" />
    <sessionState mode="Off"></sessionState>
    <!--<httpHandlers>
      <add path="DataService.ashx" type="DesktopBrowser.Server.Utils.DataService, DesktopBrowser" verb="GET,POST"/>
    </httpHandlers>-->
    <pages>
      <controls>
        <add src="~/Templates/FilesGrid.ascx" tagName="FilesGrid" tagPrefix="uc"/>
        <add src="~/Templates/FilesImageList.ascx" tagName="FilesImageList" tagPrefix="uc"/>
        <add src="~/Templates/Pager.ascx" tagName="Pager" tagPrefix="uc"/>
        <add src="~/Templates/NavBar.ascx" tagName="NavBar" tagPrefix="uc"/>
      </controls>
      <namespaces>
        <add namespace="DesktopBrowser.Server"/>
        <add namespace="DesktopBrowser.Templates"/>
        <add namespace="DesktopBrowser.Server.Utils"/>
        <add namespace="System.Web.Script.Serialization"/>
      </namespaces>
    </pages>
  </system.web>

  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
    <handlers>
      <add name="DataService" path="DataService.ashx" type="DesktopBrowser.Server.Utils.DataService, DesktopBrowser" verb="GET,POST"/>
      <add name="FileHandler" path="File.ashx" type="DesktopBrowser.Server.Utils.FileHandler, DesktopBrowser" verb="GET,POST"/>
      <!--<add name="CssHandler" path="*.css" type="DesktopBrowser.Server.Utils.CssHandler, DesktopBrowser" verb="GET,POST"/>-->
    </handlers>
    <staticContent>
      <remove fileExtension=".woff2" />
      <mimeMap fileExtension=".woff2" mimeType="application/font-woff" />
    </staticContent>
  </system.webServer>
</configuration>
