<?xml version="1.0"?>
<configuration>
  <connectionStrings/>
  <appSettings>
    <add key="DemoSiteRootPath" value="C:\Demo"/>
    <add key="IsDemo" value="false"/>
  </appSettings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5.1" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.5.1"/>
    <sessionState mode="Off"/>
    <httpRuntime requestPathInvalidCharacters="" />
    <!--<httpHandlers>
      <add path="DataService.ashx" type="DesktopBrowser.Server.Utils.DataService, DesktopBrowser" verb="GET,POST"/>
    </httpHandlers>-->
    <pages controlRenderingCompatibilityVersion="4.0">
      <controls>
        <add src="~/Templates/FilesGrid.ascx" tagName="FilesGrid" tagPrefix="uc"/>
        <add src="~/Templates/FilesImageList.ascx" tagName="FilesImageList" tagPrefix="uc"/>
        <add src="~/Templates/Pager.ascx" tagName="Pager" tagPrefix="uc"/>
        <add src="~/Templates/NavBar.ascx" tagName="NavBar" tagPrefix="uc"/>
      </controls>
      <namespaces>
        <add namespace="DesktopBrowser.Server"/>
        <add namespace="DesktopBrowser.Templates"/>
        <add namespace="DesktopBrowser.Server.Utils"/>
        <add namespace="System.Web.Script.Serialization"/>
      </namespaces>
    </pages>
  </system.web>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <handlers>
      <add name="DataService" path="DataService.ashx" type="DesktopBrowser.Server.Utils.DataService, DesktopBrowser" verb="GET,POST"/>
      <add name="SiteService" path="api" type="DesktopBrowser.Server.SiteServiceHandler, DesktopBrowser" verb="GET,POST"/>
      <add name="FileHandler" path="File.ashx" type="DesktopBrowser.Server.Utils.FileHandler, DesktopBrowser" verb="GET,POST"/>
      <!--<add name="CssHandler" path="*.css" type="DesktopBrowser.Server.Utils.CssHandler, DesktopBrowser" verb="GET,POST"/>-->
    </handlers>
    <staticContent>
      <remove fileExtension=".woff2"/>
      <mimeMap fileExtension=".woff2" mimeType="application/font-woff"/>
    </staticContent>
  </system.webServer>
</configuration>