@font-face {
  font-family: 'FreightSansProBook-Regular';
  src: url('../fonts/FreightSansProBook-Regular.eot'); /* IE9 Compat Modes */
  src: url('../fonts/FreightSansProBook-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/FreightSansProBook-Regular.woff') format('woff'), /* Modern Browsers */
       url('../fonts/FreightSansProBook-Regular.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/FreightSansProBook-Regular.svg#b30972ed497fd4719b55c16821a18b60') format('svg'); /* Legacy iOS */
       
  font-style:   normal;
  font-weight:  400;
}

@font-face {
  font-family: 'FreightTextBold';
  src: url('../fonts/FreightTextBold.eot'); /* IE9 Compat Modes */
  src: url('../fonts/FreightTextBold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/FreightTextBold.woff') format('woff'), /* Modern Browsers */
       url('../fonts/FreightTextBold.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/FreightTextBold.svg#22166cf851d0c0952bd58935fa7e3ba9') format('svg'); /* Legacy iOS */
       
  font-style:   normal;
  font-weight:  700;
}

