@font-face {
  font-family: 'Post Grotesk Light';
  src: url('../font/PostGrotesk-Light.eot'); /* IE9 Compat Modes */
  src: url('../font/PostGrotesk-Light.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../font/PostGrotesk-Light.woff') format('woff'), /* Modern Browsers */
       url('../font/PostGrotesk-Light.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../font/PostGrotesk-Light.svg#ec78e0ded1b914c296d930227e24b648') format('svg'); /* Legacy iOS */
       
  font-style:   normal;
  font-weight:  200;
}

@font-face {
  font-family: 'Post Grotesk Medium';
  src: url('PostGrotesk-Medium.eot'); /* IE9 Compat Modes */
  src: url('PostGrotesk-Medium.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('PostGrotesk-Medium.woff') format('woff'), /* Modern Browsers */
       url('PostGrotesk-Medium.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('PostGrotesk-Medium.svg#fc2ec193a4dc6f599ea22ef186bc31e2') format('svg'); /* Legacy iOS */
       
  font-style:   normal;
  font-weight:  400;
}

