@import "../lib/modular-scale/ratios";

$ms-base:  1em      !default;
$ms-ratio: 1.067  	!default;
$ms-range: null     !default;
$ms-fluid: true     !default;

@import "../lib/modular-scale/tests";

@import "../lib/modular-scale/pow";
@import "../lib/modular-scale/calc";
@import "../lib/modular-scale/generate-list";
@import "../lib/modular-scale/sort-list";
@import "../lib/modular-scale/round-px";
@import "../lib/modular-scale/function";
@import "../lib/modular-scale/function-list";

@import "../lib/modular-scale/respond";