/* Colours */

$background: #060606;
$background-variant : #181818;
$border-color : #282828;
$grey-color : #999;
$tb-background: #0c0c0c;

$hover-color: #A276F8;


/* utilities */
$g-spacing : .5em;
$s-spacing : .25em;


/* Typography */

$regular-font: 'PT Sans', 'helvetica-neue', helvetica, sans-serif;
$mono-font: 'PT Mono', monospace, 'helvetica-neue', helvetica, sans-serif;


/* Font-Sizes */

$ms10:7.43em;
$ms9:6.192em;
$ms8:5.16em;
$ms7:4.3em;
$ms6:3.583em;
$ms5:2.986em;
$ms4:2.488em;
$ms3:2.074em;
$ms2:1.728em;
$ms1: 1.44em;
$ms0: 1.2em;
$ms-1: 1em;
$ms-2: 0.833em;
$ms-3: 0.694em;



/* Mixins */

/* transition Mixins */

@mixin transition($args...) {
  -webkit-transition: $args;
  -moz-transition: $args;
  -ms-transition: $args;
  -o-transition: $args;
  transition: $args;
}



/* px to rem change */

$browser-context: 16; // Default

@function em($pixels, $context: $browser-context) {
  @return #{$pixels/$context}em;
}


/* Media Variables */



$media-bg: #151828;
$media-bg-variant: lighten($media-bg, 2%);
$media-border: lighten($media-bg, 7%);
$media-pri-color: #EA5111; 
$media-sec-color: #07E2D4;
$media-grey-color: #4C4F64;



/* Typography */

$media-font-regular: 'FreightSansProBook-Regular', 'helvetica-neue', helvetica, sans-serif;
$media-font-bold: 'FreightTextBold', monospace, 'helvetica-neue', helvetica, sans-serif;














