@import "grid-settings";
@import "../lib/neat/neat";
@import 'modular-scale';
@import "font";
@import "reset";
@import url('https://fonts.googleapis.com/css?family=Space+Mono');
@import url('https://fonts.googleapis.com/css?family=PT+Sans:400,700');
@import "var";



body {
    background-color: $background;
    font-family: $regular-font;
    line-height: 1.5;
    font-size: $ms-1;
}

nav {
    background-color: $background-variant;

    .menu {
        padding: $g-spacing;
        border-bottom: 1px solid $border-color;
        margin-right: 0; /* default.less override */
        @include outer-container();

        .buttons {
            display: inline-block;

            .navigate, .fOptions, .others {
                display: inline-block;
                background-color: $tb-background;
                text-align: center;
                margin-right: 1em;
                border-radius: 20px;
                // overflow: hidden;

                > button:first-child {
                    border-left: none;
                    border-top-left-radius: 20px;
                    border-bottom-left-radius: 20px;
                }

                > button:last-child {
                    border-right: none;
                    border-top-right-radius: 20px;
                    border-bottom-right-radius: 20px;
                }
            }
            
            button {
                font-family: $regular-font;
                border: none;
                border-right: 1px solid $border-color;
                border-radius:0;            
                font-size: $ms-2;
                color: $grey-color;
                padding: 8px 15px 8px 30px;
                -webkit-font-smoothing: antialiased;
                background: none; //#0c0c0c;
                cursor: pointer;
                @include transition(all .3s ease);

                &.GotoParentDir {
                    background: url(../img/icons/up.svg) no-repeat 13px 46%;
                }

                &.GotoPrevSibling {
                    background: url(../img/icons/prev.svg) no-repeat 13px 46%;
                }

                &.GotoNextSibling {
                    background: url(../img/icons/next.svg) no-repeat 13px 46%;
                }

                &.Size {
                    background: url(../img/icons/folder.svg) no-repeat 13px 46%;
                    padding-left: 40px;
                }

                &.Google {
                    background: url(../img/icons/google.svg) no-repeat 13px 46%;
                    padding-left: 40px;
                }

                &.Delete {
                    background: url(../img/icons/trash.svg) no-repeat 13px 46%;
                    padding-left: 40px;
                }

                &.Subs {
                    background: url(../img/icons/subtitle.svg) no-repeat 13px 46%;
                    padding-left: 40px;
                }

                &.Imdb {
                    background: url(../img/icons/imdb.svg) no-repeat 13px 46%;
                    padding-left: 40px;
                }

                &.Explore {
                    background: url(../img/icons/explore.svg) no-repeat 13px 46%;
                    padding-left: 40px;
                }

                &.Sort {
                    background: url(../img/icons/sort.svg) no-repeat 13px 46%;
                    padding-left: 40px;
                }

                &.More {
                    background: url(../img/icons/more.svg) no-repeat 13px 46%;
                    padding-left: 40px;
                    border-right: none;
                    border-top-right-radius: 20px;
                    border-bottom-right-radius: 20px;
                }




                &:hover {
                    background-color: $hover-color;
                    color: #fff;
                }

                &.active /*:active, &:focus*/ {
                    outline: none;
                    background-color: $hover-color;
                    color: #fff;
                }
            }
        }
    }

    .addressBar {
        padding: $s-spacing $g-spacing;
        @include outer-container();

        #tbPath  {
            @include span-columns(8);
            border: none;
            font-size: .8em;
            -webkit-font-smoothing: antialiased;
            padding: .5em;
            border-bottom: 1px solid $border-color;
            @include transition(all .3s ease);

            &:hover {
                border-bottom: 1px solid  lighten($border-color, 4%);
            }

            &:active, &:focus {
                outline: none;
            }
        }

        .right-side {
            @include span-columns(4);
            text-align: right;

            #tbSearch {
                border-radius: 20px;
                border: 1px solid darken($border-color, 8%); 
                font-size: $ms-2;
                -webkit-font-smoothing: antialiased;
                padding: $s-spacing $g-spacing;
                @include transition(all .3s ease);
                
                &:hover {
                    border-bottom: 1px solid  lighten($border-color, 4%);
                }

                &:active, &:focus {
                    outline: none;
                }

            }
        }
    }
}


.grid-header {

    thead {

        tr {
            background-color: $background;
            border-bottom: 1px solid darken($border-color, 8%);
            text-align: left;

            th {
                padding: $g-spacing;
                font-size: $ms-3;
                text-transform: uppercase;
                -webkit-font-smoothing: antialiased;
                letter-spacing: 1px;
                color: $grey-color; 
            }
        }
    }
}

        