{
    "swagger": "2.0",
    "info": {
        "version": "3",
        "title": "API",
        "description": "## Welcome\n\nThis is a place to put general notes and extra information, for internal use.\n\nTo get started designing/documenting this API, select a version on the left. # Title\nNo Description"
    },
    "host": "api.themoviedb.org",
    "basePath": "/3",
    "schemes": [
        "https"
    ],
    "produces": [
        "application/json"
    ],
    "securityDefinitions": {
        "api_key": {
            "name": "api_key",
            "type": "apiKey",
            "in": "query"
        }
    },
    "paths": {
        "/tv/episode/{episode_id}/changes": {
            "parameters": [
                {
                    "name": "episode_id",
                    "in": "path",
                    "required": true,
                    "type": "integer"
                }
            ],
            "get": {
                "operationId": "GET_tv-episode-episode_id-changes",
                "summary": "Get Changes",
                "description": "<p>Get the changes for a TV episode. By default only the last 24 hours are returned.</p>\n<p>You can query up to 14 days in a single query by using the <code>start_date</code> and <code>end_date</code> query parameters.</p>\n",
                "parameters": [
                    {
                        "name": "api_key",
                        "in": "query",
                        "required": true,
                        "type": "string",
                        "default": "<<api_key>>"
                    },
                    {
                        "name": "start_date",
                        "in": "query",
                        "description": "Filter the results with a start date.",
                        "required": false,
                        "type": "string",
                        "format": "date"
                    },
                    {
                        "name": "end_date",
                        "in": "query",
                        "description": "Filter the results with a end date.",
                        "required": false,
                        "type": "string",
                        "format": "date"
                    },
                    {
                        "name": "page",
                        "in": "query",
                        "description": "Specify which page to query.",
                        "required": false,
                        "type": "integer",
                        "minimum": 1,
                        "maximum": 1000,
                        "default": 1
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "changes": {
                                    "type": "array",
                                    "items": {
                                        "type": "object",
                                        "properties": {
                                            "key": {
                                                "type": "string"
                                            },
                                            "items": {
                                                "type": "array",
                                                "items": {
                                                    "type": "object",
                                                    "properties": {
                                                        "id": {
                                                            "type": "string"
                                                        },
                                                        "action": {
                                                            "type": "string"
                                                        },
                                                        "time": {
                                                            "type": "string"
                                                        },
                                                        "value": {
                                                            "type": "string"
                                                        },
                                                        "iso_639_1": {
                                                            "type": "string"
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        },
                        "examples": {
                            "application/json": {
                                "changes": [
                                    {
                                        "key": "production_code",
                                        "items": [
                                            {
                                                "id": "54bd9ed7c3a3686c6b00da66",
                                                "action": "added",
                                                "time": "2015-01-20 00:18:31 UTC",
                                                "value": "101"
                                            }
                                        ]
                                    },
                                    {
                                        "key": "overview",
                                        "items": [
                                            {
                                                "id": "54bd9ed7c3a3686c6b00da67",
                                                "action": "updated",
                                                "time": "2015-01-20 00:18:31 UTC",
                                                "iso_639_1": "fr",
                                                "value": "Sur le continent de Westeros, un jeune patrouilleur de la Garde de Nuit, chargée de veiller sur le Mur, est condamné à mort pour désertion par Eddard Stark, seigneur de Winterfell et Gardien du Nord. Mais de sombres nouvelles arrivent de Port-Réal, la capitale des Sept Couronnes : Jon Arryn, ami intime d'Eddard et Main du roi Robert Baratheon, vient de mourir. Le roi Robert et sa cour entreprennent alors un voyage vers Winterfell, pour gratifier son ami Eddard de la charge de Main du roi. Pendant ce temps, les descendants des rois Targaryen en exil, renversés par Robert, fomentent leur retour en Westeros par un jeu d'alliance avec les Dothrakis, une tribu de guerriers nomades.\nAlors qu'à Winterfell les festivités vont bon train durant le séjour du roi, Brandon, l'un des fils d'Eddard Stark, fait une découverte qui lui attire les foudres de la famille royale…",
                                                "original_value": "Sur le continent de Westeros, un jeune patrouilleur de la Garde de Nuit, chargée de veiller sur le Mur, est condamné à mort pour désertion par Eddard Stark, seigneur de Winterfell et Gardien du Nord. Mais de sombres nouvelles arrivent de Port-Réal, la capitale des Sept Couronnes : Jon Arryn, ami intime d'Eddard et Main du roi Robert Baratheon, vient de mourir. Le roi Robert et sa cour entreprennent alors un voyage vers Winterfell, pour gratifier son ami Eddard de la charge de Main du roi. Pendant ce temps, les descendants des rois Targaryen en exil, renversés par Robert, fomentent leur retour en Westeros par un jeu d'alliance avec les Dothrakis, une tribu de guerriers nomades.\n\nAlors qu'à Winterfell les festivités vont bon train durant le séjour du roi, Brandon, l'un des fils d'Eddard Stark, fait une découverte qui lui attire les foudres de la famille royale..."
                                            },
                                            {
                                                "id": "54c53255c3a36814210141d0",
                                                "action": "added",
                                                "time": "2015-01-25 18:13:41 UTC",
                                                "iso_639_1": "es",
                                                "value": "Ned Stark, Señor de Invernalia se entera de que su mentor, Jon Arryn, ha muerto y por esto el Rey Robert se dirige hacia el norte para ofrecerle ser la Mano del Rey. Al otro lado del Mar en Pentos, Viserys Targaryen planea casar a su hermana Daenerys con el lider de los guerreros de la tribu Dothraki, Khal Drogo con el objetivo de forjar una alianza que le permita reclamar el trono."
                                            }
                                        ]
                                    },
                                    {
                                        "key": "tvrage_id",
                                        "items": [
                                            {
                                                "id": "54bd9ed89251416e9b005079",
                                                "action": "added",
                                                "time": "2015-01-20 00:18:32 UTC",
                                                "value": "1065008299"
                                            }
                                        ]
                                    },
                                    {
                                        "key": "name",
                                        "items": [
                                            {
                                                "id": "54c53255c3a36814210141cf",
                                                "action": "added",
                                                "time": "2015-01-25 18:13:41 UTC",
                                                "iso_639_1": "es",
                                                "value": "Se acerca el invierno"
                                            }
                                        ]
                                    }
                                ]
                            }
                        }
                    },
                    "401": {
                        "description": "",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "status_message": {
                                    "type": "string"
                                },
                                "status_code": {
                                    "type": "integer"
                                }
                            }
                        },
                        "examples": {
                            "application/json": {
                                "status_message": "Invalid API key: You must be granted a valid key.",
                                "success": false,
                                "status_code": 7
                            }
                        }
                    },
                    "404": {
                        "description": "",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "status_message": {
                                    "type": "string"
                                },
                                "status_code": {
                                    "type": "integer"
                                }
                            }
                        },
                        "examples": {
                            "application/json": {
                                "status_message": "The resource you requested could not be found.",
                                "status_code": 34
                            }
                        }
                    }
                },
                "security": [
                    {
                        "api_key": []
                    }
                ]
            }
        },
        "/tv/{tv_id}/account_states": {
            "parameters": [
                {
                    "name": "tv_id",
                    "in": "path",
                    "required": true,
                    "type": "integer"
                }
            ],
            "get": {
                "operationId": "GET_tv-tv_id-account_states",
                "summary": "Get Account States",
                "description": "<p>Grab the following account states for a session:</p>\n<ul>\n<li>TV show rating</li>\n<li>If it belongs to your watchlist</li>\n<li>If it belongs to your favourite list</li>\n</ul>\n",
                "parameters": [
                    {
                        "name": "api_key",
                        "in": "query",
                        "required": true,
                        "type": "string",
                        "default": "<<api_key>>"
                    },
                    {
                        "name": "language",
                        "in": "query",
                        "description": "Pass a ISO 639-1 value to display translated data for the fields that support it.",
                        "required": false,
                        "type": "string",
                        "minLength": 2,
                        "pattern": "([a-z]{2})-([A-Z]{2})",
                        "default": "en-US"
                    },
                    {
                        "name": "guest_session_id",
                        "in": "query",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "session_id",
                        "in": "query",
                        "required": false,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "id": {
                                    "type": "integer"
                                },
                                "favorite": {
                                    "type": "boolean"
                                },
                                "rated": {
                                    "type": [
                                        "object",
                                        "boolean"
                                    ]
                                },
                                "watchlist": {
                                    "type": "boolean"
                                }
                            }
                        },
                        "examples": {
                            "application/json": {
                                "id": 1399,
                                "favorite": true,
                                "rated": {
                                    "value": 9
                                },
                                "watchlist": false
                            }
                        }
                    },
                    "401": {
                        "description": "",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "status_message": {
                                    "type": "string"
                                },
                                "status_code": {
                                    "type": "integer"
                                }
                            }
                        },
                        "examples": {
                            "application/json": {
                                "status_message": "Invalid API key: You must be granted a valid key.",
                                "success": false,
                                "status_code": 7
                            }
                        }
                    },
                    "404": {
                        "description": "",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "status_message": {
                                    "type": "string"
                                },
                                "status_code": {
                                    "type": "integer"
                                }
                            }
                        },
                        "examples": {
                            "application/json": {
                                "status_message": "The resource you requested could not be found.",
                                "status_code": 34
                            }
                        }
                    }
                },
                "security": [
                    {
                        "api_key": []
                    }
                ]
            }
        },
        "/person/popular": {
            "get": {
                "operationId": "GET_person-popular",
                "summary": "Get Popular",
                "description": "<p>Get the list of popular people on TMDb. This list updates daily.</p>\n",
                "parameters": [
                    {
                        "name": "api_key",
                        "in": "query",
                        "required": true,
                        "type": "string",
                        "default": "<<api_key>>"
                    },
                    {
                        "name": "language",
                        "in": "query",
                        "description": "Pass a ISO 639-1 value to display translated data for the fields that support it.",
                        "required": false,
                        "type": "string",
                        "minLength": 2,
                        "pattern": "([a-z]{2})-([A-Z]{2})",
                        "default": "en-US"
                    },
                    {
                        "name": "page",
                        "in": "query",
                        "description": "Specify which page to query.",
                        "required": false,
                        "type": "integer",
                        "minimum": 1,
                        "maximum": 1000,
                        "default": 1
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "schema": "{\"type\":\"object\",\"properties\":{\"page\":{\"type\":\"integer\"},\"results\":{\"type\":\"array\",\"items\":{\"type\":\"object\",\"properties\":{\"profile_path\":{\"type\":\"string\"},\"adult\":{\"type\":\"boolean\"},\"id\":{\"type\":\"integer\"},\"known_for\":{\"type\":\"array\",\"items\":{\"oneOf\":[{\"type\":\"object\",\"properties\":{\"poster_path\":{\"type\":[\"string\",\"null\"]},\"adult\":{\"type\":\"boolean\",",
                        "examples": {
                            "application/json": {
                                "page": 1,
                                "results": [
                                    {
                                        "profile_path": "/z3sLuRKP7hQVrvSTsqdLjGSldwG.jpg",
                                        "adult": false,
                                        "id": 28782,
                                        "known_for": [
                                            {
                                                "poster_path": "/hE24GYddaxB9MVZl1CaiI86M3kp.jpg",
                                                "adult": false,
                                                "overview": "A cryptic message from Bond’s past sends him on a trail to uncover a sinister organization. While M battles political forces to keep the secret service alive, Bond peels back the layers of deceit to reveal the terrible truth behind SPECTRE.",
                                                "release_date": "2015-10-26",
                                                "original_title": "Spectre",
                                                "genre_ids": [
                                                    28,
                                                    12,
                                                    80
                                                ],
                                                "id": 206647,
                                                "media_type": "movie",
                                                "original_language": "en",
                                                "title": "Spectre",
                                                "backdrop_path": "/wVTYlkKPKrljJfugXN7UlLNjtuJ.jpg",
                                                "popularity": 7.090211,
                                                "vote_count": 2956,
                                                "video": false,
                                                "vote_average": 6.2
                                            },
                                            {
                                                "poster_path": "/ezIurBz2fdUc68d98Fp9dRf5ihv.jpg",
                                                "adult": false,
                                                "overview": "Six months after the events depicted in The Matrix, Neo has proved to be a good omen for the free humans, as more and more humans are being freed from the matrix and brought to Zion, the one and only stronghold of the Resistance. Neo himself has discovered his superpowers including super speed, ability to see the codes of the things inside the matrix and a certain degree of pre-cognition. But a nasty piece of news hits the human resistance: 250,000 machine sentinels are digging to Zion and would reach them in 72 hours. As Zion prepares for the ultimate war, Neo, Morpheus and Trinity are advised by the Oracle to find the Keymaker who would help them reach the Source. Meanwhile Neo's recurrent dreams depicting Trinity's death have got him worried and as if it was not enough, Agent Smith has somehow escaped deletion, has become more powerful than before and has fixed Neo as his next target.",
                                                "release_date": "2003-05-15",
                                                "original_title": "The Matrix Reloaded",
                                                "genre_ids": [
                                                    12,
                                                    28,
                                                    53,
                                                    878
                                                ],
                                                "id": 604,
                                                "media_type": "movie",
                                                "original_language": "en",
                                                "title": "The Matrix Reloaded",
                                                "backdrop_path": "/1jgulSytTJcATkGX8syGbD2glXD.jpg",
                                                "popularity": 3.41123,
                                                "vote_count": 2187,
                                                "video": false,
                                                "vote_average": 6.57
                                            },
                                            {
                                                "poster_path": "/sKogjhfs5q3azmpW7DFKKAeLEG8.jpg",
                                                "adult": false,
                                                "overview": "The human city of Zion defends itself against the massive invasion of the machines as Neo fights to end the war at another front while also opposing the rogue Agent Smith.",
                                                "release_date": "2003-11-05",
                                                "original_title": "The Matrix Revolutions",
                                                "genre_ids": [
                                                    12,
                                                    28,
                                                    53,
                                                    878
                                                ],
                                                "id": 605,
                                                "media_type": "movie",
                                                "original_language": "en",
                                                "title": "The Matrix Revolutions",
                                                "backdrop_path": "/pdVHUsb2eEz9ALNTr6wfRJe5xVa.jpg",
                                                "popularity": 3.043018,
                                                "vote_count": 1971,
                                                "video": false,
                                                "vote_average": 6.35
                                            }
                                        ],
                                        "name": "Monica Bellucci",
                                        "popularity": 48.609344
                                    },
                                    {
                                        "profile_path": "/tDPS8QHdOmdmu400haPcYum8BHC.jpg",
                                        "adult": false,
                                        "id": 21911,
                                        "known_for": [
                                            {
                                                "poster_path": "/vD5plFV1ec9CSIsdlPe9icCDRTL.jpg",
                                                "adult": false,
                                                "overview": "Former Special Forces officer Frank Martin will deliver anything to anyone for the right price, and his no-questions-asked policy puts him in high demand. But when he realizes his latest cargo is alive, it sets in motion a dangerous chain of events. The bound and gagged Lai is being smuggled to France by a shady American businessman, and Frank works to save her as his own illegal activities are uncovered by a French detective.",
                                                "release_date": "2002-10-02",
                                                "original_title": "The Transporter",
                                                "genre_ids": [
                                                    28,
                                                    80,
                                                    53
                                                ],
                                                "id": 4108,
                                                "media_type": "movie",
                                                "original_language": "en",
                                                "title": "The Transporter",
                                                "backdrop_path": "/poKaphSqmgC1vtUYGagzyU4KP2m.jpg",
                                                "popularity": 2.99031,
                                                "vote_count": 988,
                                                "video": false,
                                                "vote_average": 6.52
                                            },
                                            {
                                                "poster_path": "/tCUEJ6Svr9eqcUOpxlRbFKlEVqm.jpg",
                                                "adult": false,
                                                "overview": "Asian Hawk (Jackie Chan) leads a mercenary team to recover several lost artifacts from the Old Summer Palace, the bronze heads of the 12 Chinese Zodiac animals which were sacked by the French and British armies from the imperial Summer Palace in Beijing in 1860. Assisted by a Chinese student and a Parisian lady, Hawk stops at nothing to accomplish the mission.",
                                                "release_date": "2012-12-20",
                                                "original_title": "Chinese Zodiac",
                                                "genre_ids": [
                                                    28,
                                                    12
                                                ],
                                                "id": 98567,
                                                "media_type": "movie",
                                                "original_language": "cn",
                                                "title": "Chinese Zodiac",
                                                "backdrop_path": "/b8i4Zg7gzMgRmjP9oRxtx8HoiS6.jpg",
                                                "popularity": 2.325203,
                                                "vote_count": 181,
                                                "video": false,
                                                "vote_average": 6.15
                                            },
                                            {
                                                "poster_path": "/roKhZLvRRzqdVY9rvDv1i5ZAmmx.jpg",
                                                "adult": false,
                                                "overview": "Ten vignettes in New York City: a pickpocket meets his match; a young Hasidic woman, on the eve of her marriage, reveals herself to an Indian businessman; a writer tries a pick-up line; an artist seeks a model; a composer needs to read; two women connect; a man takes a child to Central Park; lovers meet; a couple takes a walk on their anniversary; a kid goes to the prom with a girl in a wheelchair; a retired singer contemplates suicide. There are eight million stories in the naked city: these have been ten of them.",
                                                "release_date": "2008-09-01",
                                                "original_title": "New York, I Love You",
                                                "genre_ids": [
                                                    18,
                                                    35,
                                                    10749
                                                ],
                                                "id": 12572,
                                                "media_type": "movie",
                                                "original_language": "en",
                                                "title": "New York, I Love You",
                                                "backdrop_path": "/boT0X1wTI399zK6jJ2Dgtqhjkdj.jpg",
                                                "popularity": 1.989928,
                                                "vote_count": 101,
                                                "video": false,
                                                "vote_average": 5.51
                                            }
                                        ],
                                        "name": "Shu Qi",
                                        "popularity": 35.790232
                                    },
                                    {
                                        "profile_path": "/ylF5eBdfev0bgmFx8BFRmClqStM.jpg",
                                        "adult": false,
                                        "id": 234352,
                                        "known_for": [
                                            {
                                                "poster_path": "/vK1o5rZGqxyovfIhZyMELhk03wO.jpg",
                                                "adult": false,
                                                "overview": "A New York stockbroker refuses to cooperate in a large securities fraud case involving corruption on Wall Street, corporate banking world and mob infiltration. Based on Jordan Belfort's autobiography.",
                                                "release_date": "2013-12-25",
                                                "original_title": "The Wolf of Wall Street",
                                                "genre_ids": [
                                                    80,
                                                    18,
                                                    35
                                                ],
                                                "id": 106646,
                                                "media_type": "movie",
                                                "original_language": "en",
                                                "title": "The Wolf of Wall Street",
                                                "backdrop_path": "/dYtAyg4vD88hIfrR1VKDnVGhnE6.jpg",
                                                "popularity": 6.013736,
                                                "vote_count": 3602,
                                                "video": false,
                                                "vote_average": 7.92
                                            },
                                            {
                                                "poster_path": "/9IElGiLkxPLUWZ3avy31bNSG3Tq.jpg",
                                                "adult": false,
                                                "overview": "A veteran grifter takes a young, attractive woman under his wing, but things get complicated when they become romantically involved.",
                                                "release_date": "2015-02-25",
                                                "original_title": "Focus",
                                                "genre_ids": [
                                                    10749,
                                                    35,
                                                    80,
                                                    18
                                                ],
                                                "id": 256591,
                                                "media_type": "movie",
                                                "original_language": "en",
                                                "title": "Focus",
                                                "backdrop_path": "/bd8RdP2OduLBGkUMdc8PZPjdtbI.jpg",
                                                "popularity": 3.90442,
                                                "vote_count": 1639,
                                                "video": false,
                                                "vote_average": 6.71
                                            },
                                            {
                                                "poster_path": "/e1mjopzAS2KNsvpbpahQ1a6SkSn.jpg",
                                                "adult": false,
                                                "overview": "From DC Comics comes the Suicide Squad, an antihero team of incarcerated supervillains who act as deniable assets for the United States government, undertaking high-risk black ops missions in exchange for commuted prison sentences.",
                                                "release_date": "2016-08-03",
                                                "original_title": "Suicide Squad",
                                                "genre_ids": [
                                                    14,
                                                    28,
                                                    80
                                                ],
                                                "id": 297761,
                                                "media_type": "movie",
                                                "original_language": "en",
                                                "title": "Suicide Squad",
                                                "backdrop_path": "/ndlQ2Cuc3cjTL7lTynw6I4boP4S.jpg",
                                                "popularity": 48.261451,
                                                "vote_count": 1466,
                                                "video": false,
                                                "vote_average": 5.91
                                            }
                                        ],
                                        "name": "Margot Robbie",
                                        "popularity": 34.014752
                                    },
                                    {
                                        "profile_path": "/iqvYezRoEY5k8wnlfHriHQfl5dX.jpg",
                                        "adult": false,
                                        "id": 8167,
                                        "known_for": [
                                            {
                                                "poster_path": "/b9gTJKLdSbwcQRKzmqMq3dMfRwI.jpg",
                                                "adult": false,
                                                "overview": "Hobbs has Dominic and Brian reassemble their crew to take down a team of mercenaries: Dominic unexpectedly gets convoluted also facing his presumed deceased girlfriend, Letty.",
                                                "release_date": "2013-05-06",
                                                "original_title": "Fast & Furious 6",
                                                "genre_ids": [
                                                    28,
                                                    53,
                                                    80
                                                ],
                                                "id": 82992,
                                                "media_type": "movie",
                                                "original_language": "en",
                                                "title": "Fast & Furious 6",
                                                "backdrop_path": "/qjfE7SkPXpqFs8FX8rIaG6eO2aK.jpg",
                                                "popularity": 1.737593,
                                                "vote_count": 4233,
                                                "video": false,
                                                "vote_average": 6.63
                                            },
                                            {
                                                "poster_path": "/dCgm7efXDmiABSdWDHBDBx2jwmn.jpg",
                                                "adult": false,
                                                "overview": "Deckard Shaw seeks revenge against Dominic Toretto and his family for his comatose brother.",
                                                "release_date": "2015-04-01",
                                                "original_title": "Furious 7",
                                                "genre_ids": [
                                                    28,
                                                    80,
                                                    53
                                                ],
                                                "id": 168259,
                                                "media_type": "movie",
                                                "original_language": "en",
                                                "title": "Furious 7",
                                                "backdrop_path": "/ypyeMfKydpyuuTMdp36rMlkGDUL.jpg",
                                                "popularity": 13.659073,
                                                "vote_count": 2718,
                                                "video": false,
                                                "vote_average": 7.39
                                            },
                                            {
                                                "poster_path": "/x4So4OkqnjfOSBCCNd5uosMmQiB.jpg",
                                                "adult": false,
                                                "overview": "Domenic Toretto is a Los Angeles street racer suspected of masterminding a series of big-rig hijackings. When undercover cop Brian O'Conner infiltrates Toretto's iconoclastic crew, he falls for Toretto's sister and must choose a side: the gang or the LAPD.",
                                                "release_date": "2001-06-18",
                                                "original_title": "The Fast and the Furious",
                                                "genre_ids": [
                                                    28,
                                                    80,
                                                    53
                                                ],
                                                "id": 9799,
                                                "media_type": "movie",
                                                "original_language": "en",
                                                "title": "The Fast and the Furious",
                                                "backdrop_path": "/lmIqH8Qsv3IvDg0PTFUuVr89eBT.jpg",
                                                "popularity": 1.651117,
                                                "vote_count": 2375,
                                                "video": false,
                                                "vote_average": 6.41
                                            }
                                        ],
                                        "name": "Paul Walker",
                                        "popularity": 30.990128
                                    },
                                    {
                                        "profile_path": "/tB1nE2LJH81f5UMiGhKCSlaqsF1.jpg",
                                        "adult": false,
                                        "id": 1223786,
                                        "known_for": [
                                            {
                                                "poster_path": "/5JU9ytZJyR3zmClGmVm9q4Geqbd.jpg",
                                                "adult": false,
                                                "overview": "The year is 2029. John Connor, leader of the resistance continues the war against the machines. At the Los Angeles offensive, John's fears of the unknown future begin to emerge when TECOM spies reveal a new plot by SkyNet that will attack him from both fronts; past and future, and will ultimately change warfare forever.",
                                                "release_date": "2015-06-23",
                                                "original_title": "Terminator Genisys",
                                                "genre_ids": [
                                                    878,
                                                    28,
                                                    53,
                                                    12
                                                ],
                                                "id": 87101,
                                                "media_type": "movie",
                                                "original_language": "en",
                                                "title": "Terminator Genisys",
                                                "backdrop_path": "/bIlYH4l2AyYvEysmS2AOfjO7Dn8.jpg",
                                                "popularity": 13.438976,
                                                "vote_count": 2334,
                                                "video": false,
                                                "vote_average": 5.91
                                            },
                                            {
                                                "poster_path": "/jIhL6mlT7AblhbHJgEoiBIOUVl1.jpg",
                                                "popularity": 29.780826,
                                                "id": 1399,
                                                "overview": "Seven noble families fight for control of the mythical land of Westeros. Friction between the houses leads to full-scale war. All while a very ancient evil awakens in the farthest north. Amidst the war, a neglected military order of misfits, the Night's Watch, is all that stands between the realms of men and icy horrors beyond.",
                                                "backdrop_path": "/mUkuc2wyV9dHLG0D0Loaw5pO2s8.jpg",
                                                "vote_average": 7.91,
                                                "media_type": "tv",
                                                "first_air_date": "2011-04-17",
                                                "origin_country": [
                                                    "US"
                                                ],
                                                "genre_ids": [
                                                    10765,
                                                    10759,
                                                    18
                                                ],
                                                "original_language": "en",
                                                "vote_count": 1172,
                                                "name": "Game of Thrones",
                                                "original_name": "Game of Thrones"
                                            },
                                            {
                                                "poster_path": "/kJ6eMKlY1I8vVUosWtfP7qbCugL.jpg",
                                                "adult": false,
                                                "overview": "A small town girl is caught between dead-end jobs. A high-profile, successful man becomes wheelchair bound following an accident. The man decides his life is not worth living until the girl is hired for six months to be his new caretaker. Worlds apart and trapped together by circumstance, the two get off to a rocky start. But the girl becomes determined to prove to the man that life is worth living and as they embark on a series of adventures together, each finds their world changing in ways neither of them could begin to imagine.",
                                                "release_date": "2016-03-03",
                                                "original_title": "Me Before You",
                                                "genre_ids": [
                                                    18,
                                                    10749
                                                ],
                                                "id": 296096,
                                                "media_type": "movie",
                                                "original_language": "en",
                                                "title": "Me Before You",
                                                "backdrop_path": "/o4lxNwKJz8oq3R0kLOIsDlHbDhZ.jpg",
                                                "popularity": 8.553487,
                                                "vote_count": 501,
                                                "video": false,
                                                "vote_average": 7.43
                                            }
                                        ],
                                        "name": "Emilia Clarke",
                                        "popularity": 26.38716
                                    },
                                    {
                                        "profile_path": "/idDAi1sjaHDIlDc78D8G9HaJ8le.jpg",
                                        "adult": false,
                                        "id": 109513,
                                        "known_for": [
                                            {
                                                "poster_path": "/qey0tdcOp9kCDdEZuJ87yE3crSe.jpg",
                                                "adult": false,
                                                "overview": "In the aftermath of a massive earthquake in California, a rescue-chopper pilot makes a dangerous journey across the state in order to rescue his estranged daughter.",
                                                "release_date": "2015-05-27",
                                                "original_title": "San Andreas",
                                                "genre_ids": [
                                                    28,
                                                    18,
                                                    53
                                                ],
                                                "id": 254128,
                                                "media_type": "movie",
                                                "original_language": "en",
                                                "title": "San Andreas",
                                                "backdrop_path": "/cUfGqafAVQkatQ7N4y08RNV3bgu.jpg",
                                                "popularity": 6.990629,
                                                "vote_count": 1866,
                                                "video": false,
                                                "vote_average": 6.09
                                            },
                                            {
                                                "poster_path": "/5NhyXkodMzDRW8uqtPqlxJsoBhf.jpg",
                                                "adult": false,
                                                "overview": "Accident prone teenager, Percy discovers he's actually a demi-God, the son of Poseidon, and he is needed when Zeus' lightning is stolen. Percy must master his new found skills in order to prevent a war between the Gods that could devastate the entire world.",
                                                "release_date": "2010-02-01",
                                                "original_title": "Percy Jackson & the Olympians: The Lightning Thief",
                                                "genre_ids": [
                                                    12,
                                                    14,
                                                    10751
                                                ],
                                                "id": 32657,
                                                "media_type": "movie",
                                                "original_language": "en",
                                                "title": "Percy Jackson & the Olympians: The Lightning Thief",
                                                "backdrop_path": "/uHQzRMqhs1bA1fLEP6J1Qc19Nfg.jpg",
                                                "popularity": 3.835911,
                                                "vote_count": 1047,
                                                "video": false,
                                                "vote_average": 5.98
                                            },
                                            {
                                                "poster_path": "/k1bhUW7XM5X0yD3iewAEvloFBEo.jpg",
                                                "adult": false,
                                                "overview": "In their quest to confront the ultimate evil, Percy and his friends battle swarms of mythical creatures to find the mythical Golden Fleece and to stop an ancient evil from rising.",
                                                "release_date": "2013-08-07",
                                                "original_title": "Percy Jackson: Sea of Monsters",
                                                "genre_ids": [
                                                    12,
                                                    10751,
                                                    14
                                                ],
                                                "id": 76285,
                                                "media_type": "movie",
                                                "original_language": "en",
                                                "title": "Percy Jackson: Sea of Monsters",
                                                "backdrop_path": "/3NK02PLJSs01SY1hsXUAcqbG3WP.jpg",
                                                "popularity": 2.444386,
                                                "vote_count": 958,
                                                "video": false,
                                                "vote_average": 5.97
                                            }
                                        ],
                                        "name": "Alexandra Daddario",
                                        "popularity": 25.880198
                                    },
                                    {
                                        "profile_path": "/PhWiWgasncGWD9LdbsGcmxkV4r.jpg",
                                        "adult": false,
                                        "id": 976,
                                        "known_for": [
                                            {
                                                "poster_path": "/b9gTJKLdSbwcQRKzmqMq3dMfRwI.jpg",
                                                "adult": false,
                                                "overview": "Hobbs has Dominic and Brian reassemble their crew to take down a team of mercenaries: Dominic unexpectedly gets convoluted also facing his presumed deceased girlfriend, Letty.",
                                                "release_date": "2013-05-06",
                                                "original_title": "Fast & Furious 6",
                                                "genre_ids": [
                                                    28,
                                                    53,
                                                    80
                                                ],
                                                "id": 82992,
                                                "media_type": "movie",
                                                "original_language": "en",
                                                "title": "Fast & Furious 6",
                                                "backdrop_path": "/qjfE7SkPXpqFs8FX8rIaG6eO2aK.jpg",
                                                "popularity": 1.737593,
                                                "vote_count": 4233,
                                                "video": false,
                                                "vote_average": 6.63
                                            },
                                            {
                                                "poster_path": "/dCgm7efXDmiABSdWDHBDBx2jwmn.jpg",
                                                "adult": false,
                                                "overview": "Deckard Shaw seeks revenge against Dominic Toretto and his family for his comatose brother.",
                                                "release_date": "2015-04-01",
                                                "original_title": "Furious 7",
                                                "genre_ids": [
                                                    28,
                                                    80,
                                                    53
                                                ],
                                                "id": 168259,
                                                "media_type": "movie",
                                                "original_language": "en",
                                                "title": "Furious 7",
                                                "backdrop_path": "/ypyeMfKydpyuuTMdp36rMlkGDUL.jpg",
                                                "popularity": 13.659073,
                                                "vote_count": 2718,
                                                "video": false,
                                                "vote_average": 7.39
                                            },
                                            {
                                                "poster_path": "/dJPnTe1qOcO7XqsJvESFph83m6m.jpg",
                                                "adult": false,
                                                "overview": "Mr. Church reunites the Expendables for what should be an easy paycheck, but when one of their men is murdered on the job, their quest for revenge puts them deep in enemy territory and up against an unexpected threat.",
                                                "release_date": "2012-08-08",
                                                "original_title": "The Expendables 2",
                                                "genre_ids": [
                                                    28,
                                                    12,
                                                    53
                                                ],
                                                "id": 76163,
                                                "media_type": "movie",
                                                "original_language": "en",
                                                "title": "The Expendables 2",
                                                "backdrop_path": "/pIjnoUnXdLpROFzIRPNziPzgBUp.jpg",
                                                "popularity": 3.511878,
                                                "vote_count": 2105,
                                                "video": false,
                                                "vote_average": 6
                                            }
                                        ],
                                        "name": "Jason Statham",
                                        "popularity": 24.287554
                                    },
                                    {
                                        "profile_path": "/2iYXDlCvLyVO49louRyDDXagZ0G.jpg",
                                        "adult": false,
                                        "id": 2888,
                                        "known_for": [
                                            {
                                                "poster_path": "/l9hrvXyGq19f6jPRZhSVRibTMwW.jpg",
                                                "adult": false,
                                                "overview": "Agents J (Will Smith) and K (Tommy Lee Jones) are back...in time. J has seen some inexplicable things in his 15 years with the Men in Black, but nothing, not even aliens, perplexes him as much as his wry, reticent partner. But when K's life and the fate of the planet are put at stake, Agent J will have to travel back in time to put things right. J discovers that there are secrets to the universe that K never told him - secrets that will reveal themselves as he teams up with the young Agent K (Josh Brolin) to save his partner, the agency, and the future of humankind.",
                                                "release_date": "2012-05-23",
                                                "original_title": "Men in Black 3",
                                                "genre_ids": [
                                                    28,
                                                    35,
                                                    878
                                                ],
                                                "id": 41154,
                                                "media_type": "movie",
                                                "original_language": "en",
                                                "title": "Men in Black 3",
                                                "backdrop_path": "/7u3UyejCbhM3jXcZ86xzA9JJxge.jpg",
                                                "popularity": 3.121988,
                                                "vote_count": 2925,
                                                "video": false,
                                                "vote_average": 6.14
                                            },
                                            {
                                                "poster_path": "/pfvQ3kkSbFsIPC5exKPUf5nOf60.jpg",
                                                "adult": false,
                                                "overview": "Robert Neville is a scientist who was unable to stop the spread of the terrible virus that was incurable and man-made. Immune, Neville is now the last human survivor in what is left of New York City and perhaps the world. For three years, Neville has faithfully sent out daily radio messages, desperate to find any other survivors who might be out there. But he is not alone.",
                                                "release_date": "2007-12-14",
                                                "original_title": "I Am Legend",
                                                "genre_ids": [
                                                    18,
                                                    27,
                                                    28,
                                                    53,
                                                    878
                                                ],
                                                "id": 6479,
                                                "media_type": "movie",
                                                "original_language": "en",
                                                "title": "I Am Legend",
                                                "backdrop_path": "/u6Qg7TH7Oh1IFWCQSRr4htFFt0A.jpg",
                                                "popularity": 2.867238,
                                                "vote_count": 2730,
                                                "video": false,
                                                "vote_average": 6.81
                                            },
                                            {
                                                "poster_path": "/f24UVKq3UiQWLqGWdqjwkzgB8j8.jpg",
                                                "adult": false,
                                                "overview": "Men in Black follows the exploits of agents Kay and Jay, members of a top-secret organization established to monitor and police alien activity on Earth. The two Men in Black find themselves in the middle of the deadly plot by an intergalactic terrorist who has arrived on Earth to assassinate two ambassadors from opposing galaxies. In order to prevent worlds from colliding, the MiB must track down the terrorist and prevent the destruction of Earth. It's just another typical day for the Men in Black.",
                                                "release_date": "1997-07-01",
                                                "original_title": "Men in Black",
                                                "genre_ids": [
                                                    28,
                                                    12,
                                                    35,
                                                    878
                                                ],
                                                "id": 607,
                                                "media_type": "movie",
                                                "original_language": "en",
                                                "title": "Men in Black",
                                                "backdrop_path": "/uiZShvmW4rva88cSk800RLnGK01.jpg",
                                                "popularity": 5.062027,
                                                "vote_count": 2570,
                                                "video": false,
                                                "vote_average": 6.64
                                            }
                                        ],
                                        "name": "Will Smith",
                                        "popularity": 23.94618
                                    },
                                    {
                                        "profile_path": "/8EueDe6rPF0jQU4LSpsH2Rmrqac.jpg",
                                        "adult": false,
                                        "id": 1245,
                                        "known_for": [
                                            {
                                                "poster_path": "/cezWGskPY5x7GaglTTRN4Fugfb8.jpg",
                                                "adult": false,
                                                "overview": "When an unexpected enemy emerges and threatens global safety and security, Nick Fury, director of the international peacekeeping agency known as S.H.I.E.L.D., finds himself in need of a team to pull the world back from the brink of disaster. Spanning the globe, a daring recruitment effort begins!",
                                                "release_date": "2012-04-25",
                                                "original_title": "The Avengers",
                                                "genre_ids": [
                                                    878,
                                                    28,
                                                    12
                                                ],
                                                "id": 24428,
                                                "media_type": "movie",
                                                "original_language": "en",
                                                "title": "The Avengers",
                                                "backdrop_path": "/hbn46fQaRmlpBuUrEiFqv0GDL6Y.jpg",
                                                "popularity": 7.353212,
                                                "vote_count": 8503,
                                                "video": false,
                                                "vote_average": 7.33
                                            },
                                            {
                                                "poster_path": "/ArqpkNYGfcTIA6umWt6xihfIZZv.jpg",
                                                "adult": false,
                                                "overview": "With the world now aware of his dual life as the armored superhero Iron Man, billionaire inventor Tony Stark faces pressure from the government, the press, and the public to share his technology with the military. Unwilling to let go of his invention, Stark, along with Pepper Potts, and James \"Rhodey\" Rhodes at his side, must forge new alliances - and confront powerful enemies.",
                                                "release_date": "2010-04-28",
                                                "original_title": "Iron Man 2",
                                                "genre_ids": [
                                                    12,
                                                    28,
                                                    878
                                                ],
                                                "id": 10138,
                                                "media_type": "movie",
                                                "original_language": "en",
                                                "title": "Iron Man 2",
                                                "backdrop_path": "/jxdSxqAFrdioKgXwgTs5Qfbazjq.jpg",
                                                "popularity": 4.559376,
                                                "vote_count": 4639,
                                                "video": false,
                                                "vote_average": 6.62
                                            },
                                            {
                                                "poster_path": "/t90Y3G8UGQp0f0DrP60wRu9gfrH.jpg",
                                                "adult": false,
                                                "overview": "When Tony Stark tries to jumpstart a dormant peacekeeping program, things go awry and Earth’s Mightiest Heroes are put to the ultimate test as the fate of the planet hangs in the balance. As the villainous Ultron emerges, it is up to The Avengers to stop him from enacting his terrible plans, and soon uneasy alliances and unexpected action pave the way for an epic and unique global adventure.",
                                                "release_date": "2015-04-22",
                                                "original_title": "Avengers: Age of Ultron",
                                                "genre_ids": [
                                                    28,
                                                    12,
                                                    878
                                                ],
                                                "id": 99861,
                                                "media_type": "movie",
                                                "original_language": "en",
                                                "title": "Avengers: Age of Ultron",
                                                "backdrop_path": "/570qhjGZmGPrBGnfx70jcwIuBr4.jpg",
                                                "popularity": 7.557812,
                                                "vote_count": 3924,
                                                "video": false,
                                                "vote_average": 7.4
                                            }
                                        ],
                                        "name": "Scarlett Johansson",
                                        "popularity": 22.293639
                                    },
                                    {
                                        "profile_path": "/oGJQhOpT8S1M56tvSsbEBePV5O1.jpg",
                                        "adult": false,
                                        "id": 192,
                                        "known_for": [
                                            {
                                                "poster_path": "/1hRoyzDtpgMU7Dz4JF22RANzQO7.jpg",
                                                "adult": false,
                                                "overview": "Batman raises the stakes in his war on crime. With the help of Lt. Jim Gordon and District Attorney Harvey Dent, Batman sets out to dismantle the remaining criminal organizations that plague the streets. The partnership proves to be effective, but they soon find themselves prey to a reign of chaos unleashed by a rising criminal mastermind known to the terrified citizens of Gotham as the Joker.",
                                                "release_date": "2008-07-16",
                                                "original_title": "The Dark Knight",
                                                "genre_ids": [
                                                    18,
                                                    28,
                                                    80,
                                                    53
                                                ],
                                                "id": 155,
                                                "media_type": "movie",
                                                "original_language": "en",
                                                "title": "The Dark Knight",
                                                "backdrop_path": "/nnMC0BM6XbjIIrT4miYmMtPGcQV.jpg",
                                                "popularity": 8.090715,
                                                "vote_count": 7744,
                                                "video": false,
                                                "vote_average": 8.06
                                            },
                                            {
                                                "poster_path": "/dEYnvnUfXrqvqeRSqvIEtmzhoA8.jpg",
                                                "adult": false,
                                                "overview": "Following the death of District Attorney Harvey Dent, Batman assumes responsibility for Dent's crimes to protect the late attorney's reputation and is subsequently hunted by the Gotham City Police Department. Eight years later, Batman encounters the mysterious Selina Kyle and the villainous Bane, a new terrorist leader who overwhelms Gotham's finest. The Dark Knight resurfaces to protect a city that has branded him an enemy.",
                                                "release_date": "2012-07-16",
                                                "original_title": "The Dark Knight Rises",
                                                "genre_ids": [
                                                    28,
                                                    80,
                                                    18,
                                                    53
                                                ],
                                                "id": 49026,
                                                "media_type": "movie",
                                                "original_language": "en",
                                                "title": "The Dark Knight Rises",
                                                "backdrop_path": "/3bgtUfKQKNi3nJsAB5URpP2wdRt.jpg",
                                                "popularity": 6.836486,
                                                "vote_count": 6385,
                                                "video": false,
                                                "vote_average": 7.47
                                            },
                                            {
                                                "poster_path": "/9O7gLzmreU0nGkIB6K3BsJbzvNv.jpg",
                                                "adult": false,
                                                "overview": "Framed in the 1940s for the double murder of his wife and her lover, upstanding banker Andy Dufresne begins a new life at the Shawshank prison, where he puts his accounting skills to work for an amoral warden. During his long stretch in prison, Dufresne comes to be admired by the other inmates -- including an older prisoner named Red -- for his integrity and unquenchable sense of hope.",
                                                "release_date": "1994-09-10",
                                                "original_title": "The Shawshank Redemption",
                                                "genre_ids": [
                                                    18,
                                                    80
                                                ],
                                                "id": 278,
                                                "media_type": "movie",
                                                "original_language": "en",
                                                "title": "The Shawshank Redemption",
                                                "backdrop_path": "/xBKGJQsAIeweesB79KC89FpBrVr.jpg",
                                                "popularity": 6.741296,
                                                "vote_count": 5238,
                                                "video": false,
                                                "vote_average": 8.32
                                            }
                                        ],
                                        "name": "Morgan Freeman",
                                        "popularity": 20.526443
                                    },
                                    {
                                        "profile_path": "/laJdQNmsuR2iblYUggEqr49LvwJ.jpg",
                                        "adult": false,
                                        "id": 9827,
                                        "known_for": [
                                            {
                                                "poster_path": "/7SSm7BfzFoVzmd6fCDccj7qRxc8.jpg",
                                                "adult": false,
                                                "overview": "Before Charles Xavier and Erik Lensherr took the names Professor X and Magneto, they were two young men discovering their powers for the first time. Before they were arch-enemies, they were closest of friends, working together with other mutants (some familiar, some new), to stop the greatest threat the world has ever known.",
                                                "release_date": "2011-05-24",
                                                "original_title": "X-Men: First Class",
                                                "genre_ids": [
                                                    28,
                                                    878,
                                                    12
                                                ],
                                                "id": 49538,
                                                "media_type": "movie",
                                                "original_language": "en",
                                                "title": "X-Men: First Class",
                                                "backdrop_path": "/39nstYsfjR6ggyKTtB4Joga2fs8.jpg",
                                                "popularity": 1.129395,
                                                "vote_count": 3444,
                                                "video": false,
                                                "vote_average": 6.97
                                            },
                                            {
                                                "poster_path": "/2vcNFtrZXNwIcBgH5e2xXCmVR8t.jpg",
                                                "adult": false,
                                                "overview": "Ten years after the invasion of Naboo, the galaxy is on the brink of civil war. Under the leadership of a renegade Jedi named Count Dooku, thousands of solar systems threaten to break away from the Galactic Republic. When an assassination attempt is made on Senator Padmé Amidala, the former Queen of Naboo, twenty-year-old Jedi apprentice Anakin Skywalker is assigned to protect her. In the course of his mission, Anakin discovers his love for Padmé as well as his own darker side. Soon, Anakin, Padmé, and Obi-Wan Kenobi are drawn into the heart of the Separatist movement and the beginning of the Clone Wars.",
                                                "release_date": "2002-05-15",
                                                "original_title": "Star Wars: Episode II - Attack of the Clones",
                                                "genre_ids": [
                                                    12,
                                                    28,
                                                    878
                                                ],
                                                "id": 1894,
                                                "media_type": "movie",
                                                "original_language": "en",
                                                "title": "Star Wars: Episode II - Attack of the Clones",
                                                "backdrop_path": "/560F7BPaxRy8BsOfVU6cW4ivM46.jpg",
                                                "popularity": 2.824467,
                                                "vote_count": 2282,
                                                "video": false,
                                                "vote_average": 6.35
                                            },
                                            {
                                                "poster_path": "/49Akyhe0gnuokaDIKKDldFRBoru.jpg",
                                                "adult": false,
                                                "overview": "A desk-bound CIA analyst volunteers to go undercover to infiltrate the world of a deadly arms dealer, and prevent diabolical global disaster.",
                                                "release_date": "2015-05-06",
                                                "original_title": "Spy",
                                                "genre_ids": [
                                                    28,
                                                    35,
                                                    80
                                                ],
                                                "id": 238713,
                                                "media_type": "movie",
                                                "original_language": "en",
                                                "title": "Spy",
                                                "backdrop_path": "/AoYGqtWxcNmQjQIpRCMtzpFfL1T.jpg",
                                                "popularity": 3.645483,
                                                "vote_count": 1687,
                                                "video": false,
                                                "vote_average": 6.96
                                            }
                                        ],
                                        "name": "Rose Byrne",
                                        "popularity": 19.830977
                                    },
                                    {
                                        "profile_path": "/p745afG6B5yt1L0kFAMIUKzqxa.jpg",
                                        "adult": false,
                                        "id": 10990,
                                        "known_for": [
                                            {
                                                "poster_path": "/lR4drT4VGfts32j9jYTZUc1a3Pa.jpg",
                                                "adult": false,
                                                "overview": "Harry Potter has lived under the stairs at his aunt and uncle's house his whole life. But on his 11th birthday, he learns he's a powerful wizard -- with a place waiting for him at the Hogwarts School of Witchcraft and Wizardry. As he learns to harness his newfound powers with the help of the school's kindly headmaster, Harry uncovers the truth about his parents' deaths -- and about the villain who's to blame.",
                                                "release_date": "2001-11-16",
                                                "original_title": "Harry Potter and the Philosopher's Stone",
                                                "genre_ids": [
                                                    12,
                                                    14,
                                                    10751
                                                ],
                                                "id": 671,
                                                "media_type": "movie",
                                                "original_language": "en",
                                                "title": "Harry Potter and the Philosopher's Stone",
                                                "backdrop_path": "/uD93T339xX1k3fnDUaeopZBiajY.jpg",
                                                "popularity": 6.742273,
                                                "vote_count": 3793,
                                                "video": false,
                                                "vote_average": 7.15
                                            },
                                            {
                                                "poster_path": "/fTplI1NCSuEDP4ITLcTps739fcC.jpg",
                                                "adult": false,
                                                "overview": "In the second installment of the two-part conclusion, Harry and his best friends, Ron and Hermione, continue their quest to vanquish the evil Voldemort once and for all. Just as things begin to look hopeless for the young wizards, Harry discovers a trio of magical objects that endow him with powers to rival Voldemort's formidable skills.",
                                                "release_date": "2011-07-07",
                                                "original_title": "Harry Potter and the Deathly Hallows: Part 2",
                                                "genre_ids": [
                                                    12,
                                                    10751,
                                                    14
                                                ],
                                                "id": 12445,
                                                "media_type": "movie",
                                                "original_language": "en",
                                                "title": "Harry Potter and the Deathly Hallows: Part 2",
                                                "backdrop_path": "/gblLAEIDoWRN0vBLJyFGUZnf6j5.jpg",
                                                "popularity": 5.77306,
                                                "vote_count": 3347,
                                                "video": false,
                                                "vote_average": 7.65
                                            },
                                            {
                                                "poster_path": "/maP4MTfPCeVD2FZbKTLUgriOW4R.jpg",
                                                "adult": false,
                                                "overview": "The end begins as Harry, Ron, and Hermione walk away from their last year at Hogwarts to find and destroy the remaining Horcruxes, putting an end to Voldemort's bid for immortality. But with Harry's beloved Dumbledore dead and Voldemort's unscrupulous Death Eaters on the loose, the world is more dangerous than ever.",
                                                "release_date": "2010-10-17",
                                                "original_title": "Harry Potter and the Deathly Hallows: Part 1",
                                                "genre_ids": [
                                                    12,
                                                    14,
                                                    10751
                                                ],
                                                "id": 12444,
                                                "media_type": "movie",
                                                "original_language": "en",
                                                "title": "Harry Potter and the Deathly Hallows: Part 1",
                                                "backdrop_path": "/8YA36faYlkpfp6aozcGsqq68pZ9.jpg",
                                                "popularity": 4.326054,
                                                "vote_count": 3100,
                                                "video": false,
                                                "vote_average": 7.28
                                            }
                                        ],
                                        "name": "Emma Watson",
                                        "popularity": 19.738189
                                    },
                                    {
                                        "profile_path": "/lrhth7yK9p3vy6p7AabDUM1THKl.jpg",
                                        "adult": false,
                                        "id": 74568,
                                        "known_for": [
                                            {
                                                "poster_path": "/cezWGskPY5x7GaglTTRN4Fugfb8.jpg",
                                                "adult": false,
                                                "overview": "When an unexpected enemy emerges and threatens global safety and security, Nick Fury, director of the international peacekeeping agency known as S.H.I.E.L.D., finds himself in need of a team to pull the world back from the brink of disaster. Spanning the globe, a daring recruitment effort begins!",
                                                "release_date": "2012-04-25",
                                                "original_title": "The Avengers",
                                                "genre_ids": [
                                                    878,
                                                    28,
                                                    12
                                                ],
                                                "id": 24428,
                                                "media_type": "movie",
                                                "original_language": "en",
                                                "title": "The Avengers",
                                                "backdrop_path": "/hbn46fQaRmlpBuUrEiFqv0GDL6Y.jpg",
                                                "popularity": 7.353212,
                                                "vote_count": 8503,
                                                "video": false,
                                                "vote_average": 7.33
                                            },
                                            {
                                                "poster_path": "/bIuOWTtyFPjsFDevqvF3QrD1aun.jpg",
                                                "adult": false,
                                                "overview": "Against his father Odin's will, The Mighty Thor -a powerful but arrogant warrior god -recklessly reignites an ancient war. Thor is cast down to Earth and forced to live among humans as punishment. Once here, Thor learns what it takes to be a true hero when the most dangerous villain of his world sends the darkest forces of Asgard to invade Earth.",
                                                "release_date": "2011-04-21",
                                                "original_title": "Thor",
                                                "genre_ids": [
                                                    12,
                                                    14,
                                                    28
                                                ],
                                                "id": 10195,
                                                "media_type": "movie",
                                                "original_language": "en",
                                                "title": "Thor",
                                                "backdrop_path": "/6UxFfo8K3vcihtUpX1ek2ucGeEZ.jpg",
                                                "popularity": 5.293285,
                                                "vote_count": 4217,
                                                "video": false,
                                                "vote_average": 6.51
                                            },
                                            {
                                                "poster_path": "/t90Y3G8UGQp0f0DrP60wRu9gfrH.jpg",
                                                "adult": false,
                                                "overview": "When Tony Stark tries to jumpstart a dormant peacekeeping program, things go awry and Earth’s Mightiest Heroes are put to the ultimate test as the fate of the planet hangs in the balance. As the villainous Ultron emerges, it is up to The Avengers to stop him from enacting his terrible plans, and soon uneasy alliances and unexpected action pave the way for an epic and unique global adventure.",
                                                "release_date": "2015-04-22",
                                                "original_title": "Avengers: Age of Ultron",
                                                "genre_ids": [
                                                    28,
                                                    12,
                                                    878
                                                ],
                                                "id": 99861,
                                                "media_type": "movie",
                                                "original_language": "en",
                                                "title": "Avengers: Age of Ultron",
                                                "backdrop_path": "/570qhjGZmGPrBGnfx70jcwIuBr4.jpg",
                                                "popularity": 7.557812,
                                                "vote_count": 3924,
                                                "video": false,
                                                "vote_average": 7.4
                                            }
                                        ],
                                        "name": "Chris Hemsworth",
                                        "popularity": 19.209345
                                    },
                                    {
                                        "profile_path": "/rFuETZeyOAfIqBahOObF7Soq5Dh.jpg",
                                        "adult": false,
                                        "id": 8784,
                                        "known_for": [
                                            {
                                                "poster_path": "/lQCkPLDxFONmgzrWLvq085v1g2d.jpg",
                                                "adult": false,
                                                "overview": "When Bond's latest assignment goes gravely wrong and agents around the world are exposed, MI6 is attacked forcing M to relocate the agency. These events cause her authority and position to be challenged by Gareth Mallory (Ralph Fiennes), the new Chairman of the Intelligence and Security Committee. With MI6 now compromised from both inside and out, M is left with one ally she can trust: Bond. 007 takes to the shadows - aided only by field agent, Eve (Naomie Harris) - following a trail to the mysterious Silva (Javier Bardem), whose lethal and hidden motives have yet to reveal themselves.",
                                                "release_date": "2012-10-25",
                                                "original_title": "Skyfall",
                                                "genre_ids": [
                                                    28,
                                                    12,
                                                    53
                                                ],
                                                "id": 37724,
                                                "media_type": "movie",
                                                "original_language": "en",
                                                "title": "Skyfall",
                                                "backdrop_path": "/AunH2MIKIbnU9khgFp45eJlydPu.jpg",
                                                "popularity": 5.038792,
                                                "vote_count": 5845,
                                                "video": false,
                                                "vote_average": 6.81
                                            },
                                            {
                                                "poster_path": "/weUSwMdQIa3NaXVzwUoIIcAi85d.jpg",
                                                "adult": false,
                                                "overview": "Thirty years after defeating the Galactic Empire, Han Solo and his allies face a new threat from the evil Kylo Ren and his army of Stormtroopers.",
                                                "release_date": "2015-12-15",
                                                "original_title": "Star Wars: The Force Awakens",
                                                "genre_ids": [
                                                    28,
                                                    12,
                                                    878,
                                                    14
                                                ],
                                                "id": 140607,
                                                "media_type": "movie",
                                                "original_language": "en",
                                                "title": "Star Wars: The Force Awakens",
                                                "backdrop_path": "/c2Ax8Rox5g6CneChwy1gmu4UbSb.jpg",
                                                "popularity": 8.83227,
                                                "vote_count": 4697,
                                                "video": false,
                                                "vote_average": 7.55
                                            },
                                            {
                                                "poster_path": "/hE24GYddaxB9MVZl1CaiI86M3kp.jpg",
                                                "adult": false,
                                                "overview": "A cryptic message from Bond’s past sends him on a trail to uncover a sinister organization. While M battles political forces to keep the secret service alive, Bond peels back the layers of deceit to reveal the terrible truth behind SPECTRE.",
                                                "release_date": "2015-10-26",
                                                "original_title": "Spectre",
                                                "genre_ids": [
[...]
