{
    "swagger": "2.0",
    "info": {
        "version": "4",
        "title": "API",
        "description": "## Welcome\n\nThis is a place to put general notes and extra information, for internal use.\n\nTo get started designing/documenting this API, select a version on the left. # Title\nNo Description"
    },
    "host": "api.themoviedb.org",
    "basePath": "/4",
    "schemes": [
        "https"
    ],
    "consumes": [
        "application/json"
    ],
    "produces": [
        "application/json"
    ],
    "securityDefinitions": {
        "Authorization": {
            "name": "Authorization",
            "type": "apiKey",
            "in": "header"
        }
    },
    "paths": {
        "/account/{account_id}/movie/favorites": {
            "parameters": [
                {
                    "name": "account_id",
                    "in": "path",
                    "required": true,
                    "type": "string"
                }
            ],
            "get": {
                "operationId": "GET_account-account_id-movie-favorites",
                "summary": "Get Favorite Movies",
                "description": "<p>Get the list of movies you have marked as a favorite.</p>\n",
                "parameters": [
                    {
                        "name": "page",
                        "in": "query",
                        "required": false,
                        "type": "integer",
                        "minimum": 1,
                        "default": 1
                    },
                    {
                        "name": "sort_by",
                        "in": "query",
                        "description": "Choose a sort option for the list of results.",
                        "required": false,
                        "type": "string",
                        "enum": [
                            "",
                            "release_date.asc",
                            "release_date.desc",
                            "title.asc",
                            "title.desc",
                            "vote_average.asc",
                            "vote_average.desc"
                        ]
                    },
                    {
                        "name": "Authorization",
                        "in": "header",
                        "description": "",
                        "required": true,
                        "type": "string",
                        "pattern": "\\s*[Bb]earer\\s+(.+)",
                        "default": "Bearer <<access_token>>"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "page": {
                                    "type": "integer"
                                },
                                "results": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/definitions/movie-list-result-object"
                                    }
                                },
                                "total_results": {
                                    "type": "integer"
                                },
                                "total_pages": {
                                    "type": "integer"
                                }
                            }
                        },
                        "examples": {
                            "application/json": {
                                "page": 1,
                                "results": [
                                    {
                                        "poster_path": null,
                                        "adult": false,
                                        "overview": "The special bond that develops between plus-sized inflatable robot Baymax, and prodigy Hiro Hamada, who team up with a group of friends to form a band of high-tech heroes.",
                                        "release_date": "2014-10-22",
                                        "genre_ids": [
                                            12,
                                            10751,
                                            16,
                                            28,
                                            35
                                        ],
                                        "id": 177572,
                                        "original_title": "Big Hero 6",
                                        "original_language": "en",
                                        "title": "Big Hero 6",
                                        "backdrop_path": null,
                                        "popularity": 8.183445,
                                        "vote_count": 1179,
                                        "video": false,
                                        "vote_average": 7.97
                                    },
                                    {
                                        "poster_path": null,
                                        "adult": false,
                                        "overview": "Last months of World War II in April 1945. As the Allies make their final push in the European Theater, a battle-hardened U.S. Army sergeant in the 2nd Armored Division named Wardaddy commands a Sherman tank called \"Fury\" and its five-man crew on a deadly mission behind enemy lines. Outnumbered and outgunned, Wardaddy and his men face overwhelming odds in their heroic attempts to strike at the heart of Nazi Germany.",
                                        "release_date": "2014-10-17",
                                        "genre_ids": [
                                            10752,
                                            18,
                                            28
                                        ],
                                        "id": 228150,
                                        "original_title": "Fury",
                                        "original_language": "en",
                                        "title": "Fury",
                                        "backdrop_path": null,
                                        "popularity": 7.417883,
                                        "vote_count": 913,
                                        "video": false,
                                        "vote_average": 7.46
                                    },
                                    {
                                        "poster_path": null,
                                        "adult": false,
                                        "overview": "Based on the real life story of legendary cryptanalyst Alan Turing, the film portrays the nail-biting race against time by Turing and his brilliant team of code-breakers at Britain's top-secret Government Code and Cypher School at Bletchley Park, during the darkest days of World War II.",
                                        "release_date": "2014-11-14",
                                        "genre_ids": [
                                            36,
                                            18,
                                            53,
                                            10752
                                        ],
                                        "id": 205596,
                                        "original_title": "The Imitation Game",
                                        "original_language": "en",
                                        "title": "The Imitation Game",
                                        "backdrop_path": null,
                                        "popularity": 7.096949,
                                        "vote_count": 993,
                                        "video": false,
                                        "vote_average": 8.13
                                    },
                                    {
                                        "poster_path": null,
                                        "adult": false,
                                        "overview": "Interstellar chronicles the adventures of a group of explorers who make use of a newly discovered wormhole to surpass the limitations on human space travel and conquer the vast distances involved in an interstellar voyage. Or is it?",
                                        "release_date": "2014-11-05",
                                        "genre_ids": [
                                            18,
                                            878
                                        ],
                                        "id": 157336,
                                        "original_title": "Interstellar",
                                        "original_language": "en",
                                        "title": "Interstellar",
                                        "backdrop_path": null,
                                        "popularity": 5.531964,
                                        "vote_count": 2085,
                                        "video": false,
                                        "vote_average": 8.43
                                    },
                                    {
                                        "poster_path": null,
                                        "adult": false,
                                        "overview": "With his wife's disappearance having become the focus of an intense media circus, a man sees the spotlight turned on him when it's suspected that he may not be innocent.",
                                        "release_date": "2014-10-03",
                                        "genre_ids": [
                                            9648,
                                            53,
                                            18
                                        ],
                                        "id": 210577,
                                        "original_title": "Gone Girl",
                                        "original_language": "en",
                                        "title": "Gone Girl",
                                        "backdrop_path": null,
                                        "popularity": 4.399283,
                                        "vote_count": 1532,
                                        "video": false,
                                        "vote_average": 8.01
                                    },
                                    {
                                        "poster_path": null,
                                        "adult": false,
                                        "overview": "Light years from Earth, 26 years after being abducted, Peter Quill finds himself the prime target of a manhunt after discovering an orb wanted by Ronan the Accuser. Yes. Yes.",
                                        "release_date": "2014-07-30",
                                        "genre_ids": [
                                            878,
                                            14,
                                            12
                                        ],
                                        "id": 118340,
                                        "original_title": "Guardians of the Galaxy",
                                        "original_language": "en",
                                        "title": "Guardians of the Galaxy",
                                        "backdrop_path": null,
                                        "popularity": 2.891762,
                                        "vote_count": 2437,
                                        "video": false,
                                        "vote_average": 8.21
                                    },
                                    {
                                        "poster_path": null,
                                        "adult": false,
                                        "overview": "When an unexpected enemy emerges and threatens global safety and security, Nick Fury, director of the international peacekeeping agency known as S.H.I.E.L.D., finds himself in need of a team to pull the world back from the brink of disaster. Spanning the globe, a daring recruitment effort begins!",
                                        "release_date": "2012-04-24",
                                        "genre_ids": [
                                            878,
                                            28,
                                            12
                                        ],
                                        "id": 24428,
                                        "original_title": "The Avengers",
                                        "original_language": "en",
                                        "title": "The Avengers",
                                        "backdrop_path": null,
                                        "popularity": 1.732245,
                                        "vote_count": 6764,
                                        "video": false,
                                        "vote_average": 7.18
                                    },
                                    {
                                        "poster_path": null,
                                        "adult": false,
                                        "overview": "The ultimate X-Men ensemble fights a war for the survival of the species across two time periods in X-MEN: DAYS OF FUTURE PAST. The beloved characters from the original “X-Men” film trilogy join forces with their younger selves from “X-Men: First Class,” in an epic battle that must change the past – to save our future.",
                                        "release_date": "2014-05-15",
                                        "genre_ids": [
                                            28,
                                            12,
                                            14,
                                            878
                                        ],
                                        "id": 127585,
                                        "original_title": "X-Men: Days of Future Past",
                                        "original_language": "en",
                                        "title": "X-Men: Days of Future Past",
                                        "backdrop_path": null,
                                        "popularity": 1.648957,
                                        "vote_count": 1869,
                                        "video": false,
                                        "vote_average": 7.72
                                    },
                                    {
                                        "poster_path": null,
                                        "adult": false,
                                        "overview": "In the 22nd century, a paraplegic Marine is dispatched to the moon Pandora on a unique mission, but becomes torn between following orders and protecting an alien civilization.",
                                        "release_date": "2009-12-10",
                                        "genre_ids": [
                                            28,
                                            12,
                                            14,
                                            878
                                        ],
                                        "id": 19995,
                                        "original_title": "Avatar",
                                        "original_language": "en",
                                        "title": "Avatar",
                                        "backdrop_path": null,
                                        "popularity": 1.510929,
                                        "vote_count": 6261,
                                        "video": false,
                                        "vote_average": 6.98
                                    },
                                    {
                                        "poster_path": "/fpemzjF623QVTe98pCVlwwtFC5N.jpg",
                                        "adult": false,
                                        "overview": "A ticking-time-bomb insomniac and a slippery soap salesman channel primal male aggression into a shocking new form of therapy. Their concept catches on, with underground \"fight clubs\" forming in every town, until an eccentric gets in the way and ignites an out-of-control spiral toward oblivion.",
                                        "release_date": "1999-10-12",
                                        "genre_ids": [
                                            18
                                        ],
                                        "id": 550,
                                        "original_title": "Fight Club",
                                        "original_language": "en",
                                        "title": "Fight Club",
                                        "backdrop_path": null,
                                        "popularity": 1.5,
                                        "vote_count": 617,
                                        "video": false,
                                        "vote_average": 8.69
                                    },
                                    {
                                        "poster_path": null,
                                        "adult": false,
                                        "overview": "Young hobbit Frodo Baggins, after inheriting a mysterious ring from his uncle Bilbo, must leave his home in order to keep it from falling into the hands of its evil creator. Along the way, a fellowship is formed to protect the ringbearer and make sure that the ring arrives at its final destination: Mt. Doom, the only place where it can be destroyed. Yes.",
                                        "release_date": "2001-12-18",
                                        "genre_ids": [
                                            12,
                                            14,
                                            28
                                        ],
                                        "id": 120,
                                        "original_title": "The Lord of the Rings: The Fellowship of the Ring",
                                        "original_language": "en",
                                        "title": "The Lord of the Rings: The Fellowship of the Ring",
                                        "backdrop_path": null,
                                        "popularity": 1.414616,
                                        "vote_count": 4059,
                                        "video": false,
                                        "vote_average": 7.57
                                    },
                                    {
                                        "poster_path": null,
                                        "adult": false,
                                        "overview": "Princess Leia is captured and held hostage by the evil Imperial forces in their effort to take over the galactic Empire. Venturesome Luke Skywalker and dashing captain Han Solo team together with the loveable robot duo R2-D2 and C-3PO to rescue the beautiful princess and restore peace and justice in the Empire.",
                                        "release_date": "1977-05-23",
                                        "genre_ids": [
                                            12,
                                            28,
                                            878
                                        ],
                                        "id": 11,
                                        "original_title": "Star Wars: Episode IV - A New Hope",
                                        "original_language": "en",
                                        "title": "Star Wars: Episode IV - A New Hope",
                                        "backdrop_path": null,
                                        "popularity": 1.411624,
                                        "vote_count": 2472,
                                        "video": false,
                                        "vote_average": 7.66
                                    },
                                    {
                                        "poster_path": null,
                                        "adult": false,
                                        "overview": "Following the death of District Attorney Harvey Dent, Batman assumes responsibility for Dent's crimes to protect the late attorney's reputation and is subsequently hunted by the Gotham City Police Department. Eight years later, Batman encounters the mysterious Selina Kyle and the villainous Bane, a new terrorist leader who overwhelms Gotham's finest. The Dark Knight resurfaces to protect a city that has branded him an enemy.",
                                        "release_date": "2012-07-20",
                                        "genre_ids": [
                                            28,
                                            80,
                                            18,
                                            53
                                        ],
                                        "id": 49026,
                                        "original_title": "The Dark Knight Rises",
                                        "original_language": "en",
                                        "title": "The Dark Knight Rises",
                                        "backdrop_path": null,
                                        "popularity": 1.395678,
                                        "vote_count": 4886,
                                        "video": false,
                                        "vote_average": 7.36
                                    },
                                    {
                                        "poster_path": null,
                                        "adult": false,
                                        "overview": "Told from the perspective of businessman Oskar Schindler who saved over a thousand Jewish lives from the Nazis while they worked as slaves in his factory. Schindler’s List is based on a true story, illustrated in black and white and controversially filmed in many original locations.",
                                        "release_date": "1993-11-29",
                                        "genre_ids": [
                                            18,
                                            36,
                                            10752
                                        ],
                                        "id": 424,
                                        "original_title": "Schindler's List",
                                        "original_language": "en",
                                        "title": "Schindler's List",
                                        "backdrop_path": null,
                                        "popularity": 1.335722,
                                        "vote_count": 1367,
                                        "video": false,
                                        "vote_average": 7.78
                                    },
                                    {
                                        "poster_path": null,
                                        "adult": false,
                                        "overview": "The epic saga continues as Luke Skywalker, in hopes of defeating the evil Galactic Empire, learns the ways of the Jedi from aging master Yoda. But Darth Vader is more determined than ever to capture Luke. Meanwhile, rebel leader Princess Leia, cocky Han Solo, Chewbacca, and droids C-3PO and R2-D2 are thrown into various stages of capture, betrayal and despair.",
                                        "release_date": "1980-05-17",
                                        "genre_ids": [
                                            12,
                                            28,
                                            878
                                        ],
                                        "id": 1891,
                                        "original_title": "Star Wars: Episode V - The Empire Strikes Back",
                                        "original_language": "en",
                                        "title": "Star Wars: Episode V - The Empire Strikes Back",
                                        "backdrop_path": null,
                                        "popularity": 1.327858,
                                        "vote_count": 2239,
                                        "video": false,
                                        "vote_average": 7.79
                                    },
                                    {
                                        "poster_path": null,
                                        "adult": false,
                                        "overview": "Cobb, a skilled thief who commits corporate espionage by infiltrating the subconscious of his targets is offered a chance to regain his old life as payment for a task considered to be impossible: \"inception\", the implantation of another person's idea into a target's subconscious.",
                                        "release_date": "2010-07-16",
                                        "genre_ids": [
                                            28,
                                            53,
                                            878,
                                            9648,
                                            12
                                        ],
                                        "id": 27205,
                                        "original_title": "Inception",
                                        "original_language": "en",
                                        "title": "Inception",
                                        "backdrop_path": null,
                                        "popularity": 1.319949,
                                        "vote_count": 6595,
                                        "video": false,
                                        "vote_average": 7.65
                                    },
                                    {
                                        "poster_path": null,
                                        "adult": false,
                                        "overview": "Thomas A. Anderson is a man living two lives. By day he is an average computer programmer and by night a malevolent hacker known as Neo, who finds himself targeted by the police when he is contacted by Morpheus, a legendary computer hacker, who reveals the shocking truth about our reality.",
                                        "release_date": "1999-03-30",
                                        "genre_ids": [
                                            12,
                                            28,
                                            53,
                                            878
                                        ],
                                        "id": 603,
                                        "original_title": "The Matrix",
                                        "original_language": "en",
                                        "title": "The Matrix",
                                        "backdrop_path": null,
                                        "popularity": 1.317896,
                                        "vote_count": 4230,
                                        "video": false,
                                        "vote_average": 7.57
                                    },
                                    {
                                        "poster_path": null,
                                        "adult": false,
                                        "overview": "Nearly 10 years have passed since Sarah Connor was targeted for termination by a cyborg from the future. Now her son, John, the future leader of the resistance, is the target for a newer, more deadly terminator. Once again, the resistance has managed to send a protector back to attempt to save John and his mother Sarah.",
                                        "release_date": "1991-07-01",
                                        "genre_ids": [
                                            28,
                                            53,
                                            878
                                        ],
                                        "id": 280,
                                        "original_title": "Terminator 2: Judgment Day",
                                        "original_language": "en",
                                        "title": "Terminator 2: Judgment Day",
                                        "backdrop_path": null,
                                        "popularity": 1.305214,
                                        "vote_count": 1786,
                                        "video": false,
                                        "vote_average": 7.21
                                    },
                                    {
                                        "poster_path": null,
                                        "adult": false,
                                        "overview": "Batman raises the stakes in his war on crime. With the help of Lt. Jim Gordon and District Attorney Harvey Dent, Batman sets out to dismantle the remaining criminal organizations that plague the streets. The partnership proves to be effective, but they soon find themselves prey to a reign of chaos unleashed by a rising criminal mastermind known to the terrified citizens of Gotham as the Joker.",
                                        "release_date": "2008-07-18",
                                        "genre_ids": [
                                            18,
                                            28,
                                            80,
                                            53
                                        ],
                                        "id": 155,
                                        "original_title": "The Dark Knight",
                                        "original_language": "en",
                                        "title": "The Dark Knight",
                                        "backdrop_path": null,
                                        "popularity": 1.293783,
                                        "vote_count": 5504,
                                        "video": false,
                                        "vote_average": 7.85
                                    },
                                    {
                                        "poster_path": null,
                                        "adult": false,
                                        "overview": "Gladiator is an epic film of love, death and betrayal set in the Roman Empire. General Maximus' success in battle earns the favour of an elderly Emperor at the expense of the Emperor's son. In a fit of jealous rage the son slays his father before turning his anger towards Maximus. Now reduced to a slave, his family dead, Maximus must fight as a gladiator to gain his freedom, and his revenge.",
                                        "release_date": "2000-05-01",
                                        "genre_ids": [
                                            28,
                                            18,
                                            12
                                        ],
                                        "id": 98,
                                        "original_title": "Gladiator",
                                        "original_language": "en",
                                        "title": "Gladiator",
                                        "backdrop_path": null,
                                        "popularity": 1.293651,
                                        "vote_count": 2292,
                                        "video": false,
                                        "vote_average": 7.39
                                    }
                                ],
                                "total_results": 76,
                                "total_pages": 4
                            }
                        }
                    },
                    "401": {
                        "description": "",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "status_message": {
                                    "type": "string"
                                },
                                "error_message": {
                                    "type": "string"
                                },
                                "success": {
                                    "type": "boolean"
                                },
                                "status_code": {
                                    "type": "integer"
                                }
                            },
                            "required": [
                                "status_message",
                                "success",
                                "status_code"
                            ]
                        },
                        "examples": {
                            "application/json": {
                                "status_message": "This token hasn't been granted write permission by the user.",
                                "error_message": "No matching scope found.",
                                "success": false,
                                "status_code": 36
                            }
                        }
                    },
                    "404": {
                        "description": "",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "status_message": {
                                    "type": "string"
                                },
                                "success": {
                                    "type": "boolean"
                                },
                                "status_code": {
                                    "type": "integer"
                                }
                            },
                            "required": [
                                "status_message",
                                "success",
                                "status_code"
                            ]
                        },
                        "examples": {
                            "application/json": {
                                "status_message": "The resource you requested could not be found.",
                                "success": false,
                                "status_code": 34
                            }
                        }
                    },
                    "500": {
                        "description": "",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "status_code": {
                                    "type": "integer"
                                },
                                "status_message": {
                                    "type": "string"
                                },
                                "success": {
                                    "type": "boolean"
                                }
                            },
                            "required": [
                                "status_code",
                                "status_message"
                            ]
                        },
                        "examples": {
                            "application/json": {
                                "status_code": 11,
                                "status_message": "Internal error: Something went wrong, contact TMDb."
                            }
                        }
                    }
                }
            }
        },
        "/account/{account_id}/tv/watchlist": {
            "parameters": [
                {
                    "name": "account_id",
                    "in": "path",
                    "required": true,
                    "type": "string"
                }
            ],
            "get": {
                "operationId": "GET_account-account_id-tv-watchlist",
                "summary": "Get TV Show Watchlist",
                "description": "<p>Get the list of TV shows you have added to your watchlist.</p>\n",
                "parameters": [
                    {
                        "name": "page",
                        "in": "query",
                        "required": false,
                        "type": "integer",
                        "minimum": 1,
                        "default": 1
                    },
                    {
                        "name": "sort_by",
                        "in": "query",
                        "description": "Choose a sort option for the list of results.",
                        "required": false,
                        "type": "string",
                        "enum": [
                            "",
                            "first_air_date.asc",
                            "first_air_date.desc",
                            "name.asc",
                            "name.desc",
                            "vote_average.asc",
                            "vote_average.desc"
                        ]
                    },
                    {
                        "name": "Authorization",
                        "in": "header",
                        "description": "",
                        "required": true,
                        "type": "string",
                        "pattern": "\\s*[Bb]earer\\s+(.+)",
                        "default": "Bearer <<access_token>>"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "schema": "{\"type\":\"object\",\"properties\":{\"page\":{\"type\":\"integer\"},\"results\":{\"type\":\"array\",\"items\":{\"type\":\"object\",\"properties\":{\"poster_path\":{\"type\":[\"string\",\"null\"]},\"popularity\":{\"type\":\"number\"},\"id\":{\"type\":\"integer\"},\"backdrop_path\":{\"type\":[\"string\",\"null\"]},\"vote_average\":{\"type\":\"number\"},\"overview\":{\"type\":\"string\"},\"first_air_date\":{\"type\":\"string\"},\"origin_country\":{\"type\":\"array\",\"items\":{\"type\":\"string\"}},\"genre_ids\":{\"type\":\"array\",\"items\":{\"type\":\"integer\"}},\"original_language\":{\"type\":\"string\"},\"vote_count\":{\"type\":\"integer\"},\"name\":{\"type\":\"string\"},\"original_name\":{\"type\":\"string\"}},",
                        "examples": {
                            "application/json": {
                                "page": 1,
                                "results": [
                                    {
                                        "poster_path": null,
                                        "popularity": 2.08745,
                                        "id": 1412,
                                        "backdrop_path": null,
                                        "vote_average": 7.84,
                                        "overview": "Arrow is an American action adventure television series that follows billionaire playboy Oliver Queen, portrayed by Stephen Amell, who, after five years of being stranded on a hostile island, returns home to fight crime and corruption as a secret vigilante whose weapon of choice is a bow and arrows. Arrow will also feature appearances by other DC Comics characters. To assist in promotion, a preview comic book was released to tie into the television series.",
                                        "first_air_date": "2012-10-10",
                                        "origin_country": [
                                            "US",
                                            "CA"
                                        ],
                                        "genre_ids": [
                                            28,
                                            12,
                                            80,
                                            18,
                                            9648,
                                            878
                                        ],
                                        "original_language": "en",
                                        "vote_count": 97,
                                        "name": "Arrow",
                                        "original_name": "Arrow"
                                    },
                                    {
                                        "poster_path": null,
                                        "popularity": 1.309916,
                                        "id": 19885,
                                        "backdrop_path": null,
                                        "vote_average": 8.91,
                                        "overview": "Sherlock is a British television crime drama that presents a contemporary update of Sir Arthur Conan Doyle's Sherlock Holmes detective stories. Created by Steven Moffat and Mark Gatiss, it stars Benedict Cumberbatch as Sherlock Holmes and Martin Freeman as Doctor John Watson. Six episodes have been produced, the first three of which aired in 2010. Series two aired in 2012, and a third series began production in March 2013. The series has been sold to over 180 territories.",
                                        "first_air_date": "2010-07-25",
                                        "origin_country": [
                                            "GB"
                                        ],
                                        "genre_ids": [
                                            18,
                                            10759
                                        ],
                                        "original_language": "en",
                                        "vote_count": 90,
                                        "name": "Sherlock",
                                        "original_name": "Sherlock"
                                    },
                                    {
                                        "poster_path": null,
                                        "popularity": 2.094189,
                                        "id": 1100,
                                        "backdrop_path": null,
                                        "vote_average": 8.01,
                                        "overview": "How I Met Your Mother is an American sitcom that premiered on CBS on September 19, 2005. The 2013–14 season will be the show's ninth and final season. The series follows the main character, Ted Mosby, and his group of friends in Manhattan. As a framing device, Ted, in the year 2030, recounts to his son and daughter the events that led to his meeting their mother.",
                                        "first_air_date": "2005-09-19",
                                        "origin_country": [
                                            "US"
                                        ],
                                        "genre_ids": [
                                            35
                                        ],
                                        "original_language": "en",
                                        "vote_count": 77,
                                        "name": "How I Met Your Mother",
                                        "original_name": "How I Met Your Mother"
                                    },
                                    {
                                        "poster_path": null,
                                        "popularity": 1.571498,
                                        "id": 44217,
                                        "backdrop_path": null,
                                        "vote_average": 8.58,
                                        "overview": "Vikings follows the adventures of Ragnar Lothbrok, the greatest hero of his age. The series tells the sagas of Ragnar's band of Viking brothers and his family, as he rises to become King of the Viking tribes. As well as being a fearless warrior, Ragnar embodies the Norse traditions of devotion to the gods. Legend has it that he was a direct descendant of Odin, the god of war and warriors.",
                                        "first_air_date": "2013-03-03",
                                        "origin_country": [
                                            "IE",
                                            "CA"
                                        ],
                                        "genre_ids": [
                                            18,
                                            28,
                                            36,
                                            12
                                        ],
                                        "original_language": "en",
                                        "vote_count": 54,
                                        "name": "Vikings",
                                        "original_name": "Vikings"
                                    },
                                    {
                                        "poster_path": null,
                                        "popularity": 1.427009,
                                        "id": 1411,
                                        "backdrop_path": null,
                                        "vote_average": 7.94,
                                        "overview": "Person of Interest is an American science fiction crime drama television series created for CBS by Jonathan Nolan, who serves as an executive producer alongside J.J. Abrams, Bryan Burk, and Greg Plageman. The series stars Jim Caviezel as John Reese, a presumed dead former CIA agent who is approached by a mysterious billionaire named Harold Finch (Michael Emerson) to prevent violent crimes before they happen by using an advanced surveillance system dubbed \"The Machine\". Their unique brand of vigilante justice attracts the attention of two NYPD officers, Joss Carter (Taraji P. Henson) and Lionel Fusco (Kevin Chapman), whom Reese uses to his advantage as he investigates persons of interest. Reese and Finch are later aided by Samantha \"Root\" Groves (Amy Acker), a highly intelligent computer hacker and contract killer who the Machine later identifies as its \"analog interface\" and Sameen Shaw (Sarah Shahi), a former ISA assassin who unknowingly dealt with the \"relevant\" numbers found by the Machine.",
                                        "first_air_date": "2011-09-22",
                                        "origin_country": [
                                            "US"
                                        ],
                                        "genre_ids": [
                                            28,
                                            12,
                                            18,
                                            9648,
                                            53
                                        ],
                                        "original_language": "en",
                                        "vote_count": 55,
                                        "name": "Person of Interest",
                                        "original_name": "Person of Interest"
                                    },
                                    {
                                        "poster_path": null,
                                        "popularity": 1.516908,
                                        "id": 4614,
                                        "backdrop_path": null,
                                        "vote_average": 7.4,
                                        "overview": "NCIS is an American police procedural drama television series, revolving around a fictional team of special agents from the Naval Criminal Investigative Service, which conducts criminal investigations involving the U.S. Navy and Marine Corps.",
                                        "first_air_date": "2003-09-23",
                                        "origin_country": [
                                            "US"
                                        ],
                                        "genre_ids": [
                                            28,
                                            12,
                                            80,
                                            18
                                        ],
                                        "original_language": "en",
                                        "vote_count": 35,
                                        "name": "NCIS",
                                        "original_name": "NCIS"
                                    },
                                    {
                                        "poster_path": null,
                                        "popularity": 2.107125,
                                        "id": 39351,
                                        "backdrop_path": null,
                                        "vote_average": 7.52,
                                        "overview": "After Portland homicide detective Nick Burkhardt discovers he's descended from an elite line of criminal profilers known as \"Grimms,\" he increasingly finds his responsibilities as a detective at odds with his new responsibilities as a Grimm.",
                                        "first_air_date": "2011-10-28",
                                        "origin_country": [
                                            "US"
                                        ],
                                        "genre_ids": [
                                            18,
                                            14,
                                            9648
                                        ],
                                        "original_language": "en",
                                        "vote_count": 30,
                                        "name": "Grimm",
                                        "original_name": "Grimm"
                                    },
                                    {
                                        "poster_path": null,
                                        "popularity": 1.780522,
                                        "id": 46952,
                                        "backdrop_path": null,
                                        "vote_average": 7.21,
                                        "overview": "Raymond \"Red\" Reddington, one of the FBI's most wanted fugitives, surrenders in person at FBI Headquarters in Washington, D.C. He claims that he and the FBI have the same interests: bringing down dangerous criminals and terrorists. In the last two decades, he's made a list of criminals and terrorists that matter the most but the FBI cannot find because it does not know they exist. Reddington calls this \"The Blacklist\". Reddington will co-operate, but insists that he will speak only to Elizabeth Keen, a rookie FBI profiler.",
                                        "first_air_date": "2013-09-23",
                                        "origin_country": [
                                            "US"
                                        ],
                                        "genre_ids": [
                                            18,
                                            9648,
                                            80
                                        ],
                                        "original_language": "en",
                                        "vote_count": 41,
                                        "name": "The Blacklist",
                                        "original_name": "The Blacklist"
                                    },
                                    {
                                        "poster_path": null,
                                        "popularity": 1.280376,
                                        "id": 4629,
                                        "backdrop_path": null,
                                        "vote_average": 9.12,
                                        "overview": "Stargate SG-1 is a Canadian-American adventure and military science fiction television series and part of Metro-Goldwyn-Mayer's Stargate franchise. The show, created by Brad Wright and Jonathan Glassner, is based on the 1994 feature film Stargate by Dean Devlin and Roland Emmerich. The television series was filmed in and around the city of Vancouver, Canada. The series premiered on Showtime on July 27, 1997; the final episode first aired on Sky1 on March 13, 2007. With 214 episodes over 10 seasons, Stargate SG-1 had surpassed The X-Files as the longest-running North American science fiction television series, a record later broken by Smallville.\n\nThe story of Stargate SG-1 begins about a year after the events of the feature film, when the United States government learns that an ancient alien device called the Stargate can access a network of such devices on a multitude of planets. SG-1 is an elite Air Force special operations team, one of more than two dozen teams from Earth who explore the galaxy and defend against alien threats such as the Goa'uld, Replicators, and the Ori. The series draws upon Egyptian mythology, Norse mythology, and Arthurian legend.",
                                        "first_air_date": "1997-07-27",
                                        "origin_country": [
                                            "US"
                                        ],
                                        "genre_ids": [
                                            28,
                                            12,
                                            14,
                                            878
                                        ],
                                        "original_language": "en",
                                        "vote_count": 26,
                                        "name": "Stargate SG-1",
                                        "original_name": "Stargate SG-1"
                                    },
                                    {
                                        "poster_path": null,
                                        "popularity": 2.952177,
                                        "id": 57243,
                                        "backdrop_path": null,
                                        "vote_average": 8.61,
                                        "overview": "The Doctor looks and seems human. He's handsome, witty, and could be mistaken for just another man in the street. But he is a Time Lord: a 900 year old alien with 2 hearts, part of a gifted civilization who mastered time travel. The Doctor saves planets for a living – more of a hobby actually, and he's very, very good at it. He's saved us from alien menaces and evil from before time began – but just who is he?",
                                        "first_air_date": "2005-03-26",
                                        "origin_country": [
                                            "GB"
                                        ],
                                        "genre_ids": [
                                            28,
                                            12,
                                            18,
                                            878
                                        ],
                                        "original_language": "en",
                                        "vote_count": 67,
                                        "name": "Doctor Who",
                                        "original_name": "Doctor Who"
                                    },
                                    {
                                        "poster_path": null,
                                        "popularity": 1.624747,
                                        "id": 48866,
                                        "backdrop_path": null,
                                        "vote_average": 7.91,
                                        "overview": "Based on the books by Kass Morgan, this show takes place 100 years in the future, when the Earth has been abandoned due to radioactivity. The last surviving humans live on an ark orbiting the planet — but the ark won't last forever. So the repressive regime picks 100 expendable juvenile delinquents to send down to Earth to see if the planet is still habitable.",
                                        "first_air_date": "2014-03-19",
                                        "origin_country": [
                                            "US"
                                        ],
                                        "genre_ids": [
                                            14,
                                            18,
                                            12,
                                            878
                                        ],
                                        "original_language": "en",
                                        "vote_count": 34,
                                        "name": "The 100",
                                        "original_name": "The 100"
                                    },
                                    {
                                        "poster_path": null,
                                        "popularity": 1.429248,
                                        "id": 2190,
                                        "backdrop_path": null,
                                        "vote_average": 8.35,
                                        "overview": "South Park is an American adult animated sitcom created by Trey Parker and Matt Stone for the Comedy Central television network. Intended for mature audiences, the show has become famous for its crude language and dark, surreal humor that satirizes a wide range of topics. The ongoing narrative revolves around four boys—Stan Marsh, Kyle Broflovski, Eric Cartman and Kenny McCormick—and their bizarre adventures in and around the titular Colorado town.",
                                        "first_air_date": "1997-08-13",
                                        "origin_country": [
                                            "US"
                                        ],
                                        "genre_ids": [
                                            16,
                                            35
                                        ],
                                        "original_language": "en",
                                        "vote_count": 55,
                                        "name": "South Park",
                                        "original_name": "South Park"
                                    },
                                    {
                                        "poster_path": null,
                                        "popularity": 1.521296,
                                        "id": 4057,
                                        "backdrop_path": null,
                                        "vote_average": 8.28,
                                        "overview": "An elite team of FBI profilers analyze the country's most twisted criminal minds, anticipating their next moves before they strike again. The Behavioral Analysis Unit's most experienced agent is David Rossi, a founding member of the BAU who returns to help the team solve new cases.",
                                        "first_air_date": "2005-09-22",
                                        "origin_country": [
                                            "US"
                                        ],
                                        "genre_ids": [
                                            80,
                                            18,
                                            9648
                                        ],
                                        "original_language": "en",
                                        "vote_count": 27,
                                        "name": "Criminal Minds",
                                        "original_name": "Criminal Minds"
                                    },
                                    {
                                        "poster_path": null,
                                        "popularity": 1.384008,
                                        "id": 2691,
                                        "backdrop_path": null,
                                        "vote_average": 7.02,
                                        "overview": "\"Two and a Half Men\" is an American television sitcom that was originally about a hedonistic jingle writer, Charlie Harper; his uptight brother, Alan; and Alan's growing son, Jake. After Alan divorces, he moves with his son to share Charlie's beach-front Malibu house and complicate Charlie's free-wheeling life.",
                                        "first_air_date": "2003-09-22",
                                        "origin_country": [
                                            "US"
                                        ],
                                        "genre_ids": [
                                            35
                                        ],
                                        "original_language": "en",
                                        "vote_count": 29,
                                        "name": "Two and a Half Men",
                                        "original_name": "Two and a Half Men"
                                    },
                                    {
                                        "poster_path": null,
                                        "popularity": 1.705725,
                                        "id": 56296,
                                        "backdrop_path": null,
                                        "vote_average": 8.21,
                                        "overview": "A streetwise hustler is pulled into a compelling conspiracy after witnessing the suicide of a girl who looks just like her.",
                                        "first_air_date": "2013-03-30",
                                        "origin_country": [
                                            "CA",
                                            "US"
                                        ],
                                        "genre_ids": [
                                            18,
                                            53,
                                            10765
                                        ],
                                        "original_language": "en",
                                        "vote_count": 29,
                                        "name": "Orphan Black",
                                        "original_name": "Orphan Black"
                                    },
                                    {
                                        "poster_path": null,
                                        "popularity": 1.231072,
                                        "id": 46533,
                                        "backdrop_path": null,
                                        "vote_average": 8.32,
                                        "overview": "Set during the Cold War period in the 1980s, The Americans is the story of Elizabeth and Philip Jennings, two Soviet KGB officers posing as an American married couple in the suburbs of Washington D.C. and their neighbor, Stan Beeman, an FBI Counterintelligence agent.",
                                        "first_air_date": "2013-01-30",
                                        "origin_country": [
                                            "US"
                                        ],
                                        "genre_ids": [
                                            80,
                                            18,
                                            53
                                        ],
                                        "original_language": "en",
                                        "vote_count": 20,
                                        "name": "The Americans",
                                        "original_name": "The Americans"
                                    },
                                    {
                                        "poster_path": null,
                                        "popularity": 1.465911,
                                        "id": 61550,
                                        "backdrop_path": null,
                                        "vote_average": 7.92,
                                        "overview": "It's 1946, and peace has dealt Peggy Carter a serious blow as she finds herself marginalized when the men return home from fighting abroad. Working for the covert SSR (Strategic Scientific Reserve), Peggy must balance doing administrative work and going on secret missions for Howard Stark all while trying to navigate life as a single woman in America, in the wake of losing the love of her life - Steve Rogers.",
                                        "first_air_date": "2015-01-06",
                                        "origin_country": [
                                            "US"
                                        ],
                                        "genre_ids": [
                                            28,
                                            12
                                        ],
                                        "original_language": "en",
                                        "vote_count": 18,
                                        "name": "Marvel's Agent Carter",
                                        "original_name": "Marvel's Agent Carter"
                                    },
                                    {
                                        "poster_path": null,
                                        "popularity": 1.975649,
                                        "id": 18165,
                                        "backdrop_path": null,
                                        "vote_average": 7.75,
                                        "overview": "The Vampire Diaries is a supernatural drama television series that takes place in Mystic Falls, Virginia, a fictional small town haunted by supernatural beings. The series narrative follows the protagonist Elena Gilbert as she falls in love with vampire Stefan Salvatore and is drawn into the supernatural world as a result. As the series progresses, Elena finds herself drawn to Stefan's brother Damon Salvatore resulting in a love triangle. As the narrative develops in the course of the series, the focal point shifts on the mysterious past of the town involving Elena's malevolent doppelgänger Katerina Petrova and the family of Original Vampires, all of which have an evil agenda of their own.",
                                        "first_air_date": "2009-09-10",
                                        "origin_country": [
                                            "US"
                                        ],
                                        "genre_ids": [
                                            18,
                                            14,
                                            27,
                                            10749,
                                            53
                                        ],
                                        "original_language": "pl",
                                        "vote_count": 30,
                                        "name": "The Vampire Diaries",
                                        "original_name": "The Vampire Diaries"
                                    },
                                    {
                                        "poster_path": null,
                                        "popularity": 1.192619,
                                        "id": 17610,
                                        "backdrop_path": null,
                                        "vote_average": 7.35,
                                        "overview": "The series follows the exploits of the Los Angeles–based Office of Special Projects (OSP), an elite division of the Naval Criminal Investigative Service that specializes in undercover assignments.",
                                        "first_air_date": "2009-09-22",
                                        "origin_country": [
                                            "US"
                                        ],
                                        "genre_ids": [
                                            80,
                                            18,
                                            10759
                                        ],
                                        "original_language": "en",
                                        "vote_count": 17,
                                        "name": "NCIS: Los Angeles",
                                        "original_name": "NCIS: Los Angeles"
                                    },
                                    {
                                        "poster_path": null,
                                        "popularity": 2.749793,
                                        "id": 60735,
                                        "backdrop_path": null,
                                        "vote_average": 8.35,
                                        "overview": "After a particle accelerator causes a freak storm, CSI Investigator Barry Allen is struck by lightning and falls into a coma. Months later he awakens with the power of super speed, granting him the ability to move through Central City like an unseen guardian angel. Though initially excited by his newfound powers, Barry is shocked to discover he is not the only \"meta-human\" who was created in the wake of the accelerator explosion -- and not everyone is using their new powers for good. Barry partners with S.T.A.R. Labs and dedicates his life to protect the innocent. For now, only a few close friends and associates know that Barry is literally the fastest man alive, but it won't be long before the world learns what Barry Allen has become...The Flash.",
                                        "first_air_date": "2014-10-07",
                                        "origin_country": [
                                            "US"
                                        ],
                                        "genre_ids": [
                                            28,
                                            12,
                                            18,
                                            878
                                        ],
                                        "original_language": "en",
                                        "vote_count": 54,
                                        "name": "The Flash",
                                        "original_name": "The Flash"
                                    }
                                ],
                                "total_results": 436,
                                "total_pages": 22
                            }
                        }
                    },
                    "401": {
                        "description": "",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "status_message": {
                                    "type": "string"
                                },
                                "error_message": {
                                    "type": "string"
                                },
                                "success": {
                                    "type": "boolean"
                                },
                                "status_code": {
                                    "type": "integer"
                                }
                            },
                            "required": [
                                "status_message",
                                "success",
                                "status_code"
                            ]
                        },
                        "examples": {
                            "application/json": {
                                "status_message": "This token hasn't been granted write permission by the user.",
                                "error_message": "No matching scope found.",
                                "success": false,
                                "status_code": 36
                            }
                        }
                    },
                    "404": {
                        "description": "",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "status_message": {
                                    "type": "string"
                                },
                                "success": {
                                    "type": "boolean"
                                },
                                "status_code": {
                                    "type": "integer"
                                }
                            },
                            "required": [
                                "status_message",
                                "success",
                                "status_code"
                            ]
                        },
                        "examples": {
                            "application/json": {
                                "status_message": "The resource you requested could not be found.",
                                "success": false,
                                "status_code": 34
                            }
                        }
                    },
                    "500": {
                        "description": "",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "status_code": {
                                    "type": "integer"
                                },
                                "status_message": {
                                    "type": "string"
                                },
                                "success": {
                                    "type": "boolean"
                                }
                            },
                            "required": [
                                "status_code",
                                "status_message"
                            ]
                        },
                        "examples": {
                            "application/json": {
                                "status_code": 11,
                                "status_message": "Internal error: Something went wrong, contact TMDb."
                            }
                        }
                    }
                }
            }
        },
        "/list": {
            "post": {
                "operationId": "POST_list",
                "summary": "Create List",
                "tags": [
                    "List"
                ],
                "description": "<p>This method will create a new list.</p>\n<p>You will need to have valid user access token in order to create a new list.</p>\n",
                "parameters": [
                    {
                        "name": "body",
                        "in": "body",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "name": {
                                    "type": "string",
                                    "description": "Set the name of your list."
                                },
                                "iso_639_1": {
                                    "type": "string",
                                    "default": "en",
                                    "description": "Set the ISO-639-1 variant for your list.",
                                    "minLength": 2,
                                    "maxLength": 2
                                },
                                "description": {
                                    "type": "string",
                                    "description": "Set the description of your list."
                                },
                                "public": {
                                    "type": "boolean",
                                    "default": true,
                                    "description": "Toggle the public status of your list."
                                },
                                "iso_3166_1": {
                                    "type": "string",
                                    "default": "US",
                                    "description": "Set the ISO-3166-1 variant for your list.",
                                    "minLength": 2,
                                    "maxLength": 2
                                }
                            },
                            "required": [
                                "name",
                                "iso_639_1"
                            ],
                            "example": {
                                "name": "My Cool List",
                                "iso_639_1": "en"
                            }
                        }
                    },
                    {
                        "name": "Authorization",
                        "in": "header",
                        "description": "",
                        "required": true,
                        "type": "string",
                        "pattern": "\\s*[Bb]earer\\s+(.+)",
                        "default": "Bearer <<access_token>>"
                    },
                    {
                        "name": "Content-Type",
                        "in": "header",
                        "description": "",
                        "required": true,
                        "type": "string",
                        "default": "application/json;charset=utf-8"
                    }
                ],
                "responses": {
                    "201": {
                        "description": "",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "status_message": {
                                    "type": "string"
                                },
                                "id": {
                                    "type": "integer"
                                },
                                "success": {
                                    "type": "boolean"
                                },
                                "status_code": {
                                    "type": "integer"
                                }
                            }
                        },
                        "examples": {
                            "application/json": {
                                "status_message": "The item/record was created successfully.",
                                "id": 5854,
                                "success": true,
                                "status_code": 1
                            }
                        }
                    },
                    "401": {
                        "description": "",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "status_message": {
                                    "type": "string"
                                },
                                "error_message": {
                                    "type": "string"
                                },
                                "success": {
                                    "type": "boolean"
                                },
                                "status_code": {
                                    "type": "integer"
                                }
                            },
                            "required": [
                                "status_message",
                                "success",
                                "status_code"
                            ]
                        },
                        "examples": {
                            "application/json": {
                                "status_message": "This token hasn't been granted write permission by the user.",
                                "error_message": "No matching scope found.",
                                "success": false,
                                "status_code": 36
                            }
                        }
                    },
                    "404": {
                        "description": "",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "status_message": {
                                    "type": "string"
                                },
                                "success": {
                                    "type": "boolean"
                                },
                                "status_code": {
                                    "type": "integer"
                                }
                            },
                            "required": [
                                "status_message",
                                "success",
                                "status_code"
                            ]
                        },
                        "examples": {
                            "application/json": {
                                "status_message": "The resource you requested could not be found.",
                                "success": false,
                                "status_code": 34
                            }
                        }
                    },
                    "500": {
                        "description": "",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "status_code": {
                                    "type": "integer"
                                },
                                "status_message": {
                                    "type": "string"
                                },
                                "success": {
                                    "type": "boolean"
                                }
                            },
                            "required": [
                                "status_code",
                                "status_message"
                            ]
                        },
                        "examples": {
                            "application/json": {
                                "status_code": 11,
                                "status_message": "Internal error: Something went wrong, contact TMDb."
                            }
                        }
                    }
                },
                "security": [
                    {
                        "Authorization": []
                    }
                ]
            }
        },
        "/list/{list_id}/items": {
            "parameters": [
                {
                    "name": "list_id",
                    "in": "path",
                    "required": true,
                    "type": "integer"
                }
            ],
            "delete": {
                "operationId": "DELETE_list-list_id-items",
                "summary": "Remove Items",
                "tags": [
                    "List"
                ],
                "description": "<p>This method will let you remove items from a list. You can remove multiple items at a time.</p>\n<p>You must be the owner of the list and therefore have a valid user access token in order to delete items from it.</p>\n",
                "parameters": [
                    {
                        "name": "body",
                        "in": "body",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "items": {
                                    "type": "array",
                                    "items": {
                                        "type": "object",
                                        "properties": {
                                            "media_type": {
                                                "type": "string",
                                                "enum": [
                                                    "movie",
                                                    "tv"
                                                ],
                                                "description": "Select the media object type you are wanting to remove."
                                            },
                                            "media_id": {
                                                "type": "integer",
                                                "description": "Select the id of the media object you are wanting to remove."
                                            }
                                        },
                                        "required": [
                                            "media_type",
                                            "media_id"
                                        ]
                                    }
                                }
                            },
                            "required": [
                                "items"
                            ],
                            "example": {
                                "items": [
                                    {
                                        "media_type": "movie",
                                        "media_id": 194662
                                    },
                                    {
                                        "media_type": "movie",
                                        "media_id": 76203
                                    },
                                    {
                                        "media_type": "movie",
                                        "media_id": 74643
                                    }
                                ]
                            }
                        }
                    },
                    {
                        "name": "Authorization",
                        "in": "header",
                        "description": "",
                        "required": true,
                        "type": "string",
                        "pattern": "\\s*[Bb]earer\\s+(.+)",
                        "default": "Bearer <<access_token>>"
                    },
                    {
                        "name": "Content-Type",
                        "in": "header",
                        "description": "",
                        "required": true,
                        "type": "string",
                        "default": "application/json;charset=utf-8"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "status_message": {
                                    "type": "string"
                                },
                                "results": {
                                    "type": "array",
                                    "items": {
                                        "type": "object",
                                        "properties": {
                                            "media_type": {
                                                "type": "string"
                                            },
                                            "media_id": {
                                                "type": "integer"
                                            },
                                            "success": {
                                                "type": "boolean"
                                            }
                                        }
                                    }
                                },
                                "success": {
                                    "type": "boolean"
                                },
                                "status_code": {
                                    "type": "integer"
                                }
                            }
                        },
                        "examples": {
                            "application/json": {
                                "status_message": "Success.",
                                "results": [
                                    {
                                        "media_type": "movie",
                                        "media_id": 194662,
                                        "success": true
                                    }
                                ],
                                "success": true,
                                "status_code": 1
                            }
                        }
                    },
                    "401": {
                        "description": "",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "status_message": {
                                    "type": "string"
                                },
                                "error_message": {
                                    "type": "string"
                                },
                                "success": {
                                    "type": "boolean"
                                },
                                "status_code": {
                                    "type": "integer"
                                }
                            },
                            "required": [
                                "status_message",
                                "success",
                                "status_code"
                            ]
                        },
                        "examples": {
                            "application/json": {
                                "status_message": "This token hasn't been granted write permission by the user.",
                                "error_message": "No matching scope found.",
                                "success": false,
                                "status_code": 36
                            }
                        }
                    },
                    "404": {
                        "description": "",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "status_message": {
                                    "type": "string"
                                },
                                "success": {
                                    "type": "boolean"
                                },
                                "status_code": {
                                    "type": "integer"
                                }
                            },
                            "required": [
                                "status_message",
                                "success",
                                "status_code"
                            ]
                        },
                        "examples": {
                            "application/json": {
                                "status_message": "The resource you requested could not be found.",
                                "success": false,
                                "status_code": 34
                            }
                        }
                    },
                    "500": {
                        "description": "",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "status_code": {
                                    "type": "integer"
                                },
                                "status_message": {
                                    "type": "string"
                                },
                                "success": {
                                    "type": "boolean"
                                }
                            },
                            "required": [
                                "status_code",
                                "status_message"
                            ]
                        },
                        "examples": {
                            "application/json": {
                                "status_code": 11,
                                "status_message": "Internal error: Something went wrong, contact TMDb."
                            }
                        }
                    }
                },
                "security": [
                    {
                        "Authorization": []
                    }
                ]
            },
            "put": {
                "operationId": "PUT_list-list_id-items",
                "summary": "Update Items",
                "tags": [
                    "List"
                ],
                "description": "<p>This method will let you update an individual item on a list. Currently, only adding a comment is suported.</p>\n<p>You must be the owner of the list and therefore have a valid user access token in order to edit items.</p>\n",
                "parameters": [
                    {
                        "name": "body",
                        "in": "body",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "items": {
                                    "type": "array",
                                    "items": {
                                        "type": "object",
                                        "properties": {
                                            "media_type": {
                                                "type": "string",
                                                "enum": [
                                                    "movie",
                                                    "tv"
                                                ],
                                                "description": "Select the media type of the object you are wanting to edit."
                                            },
                                            "media_id": {
                                                "type": "integer",
                                                "description": "Select the media id of the object you are wanting to edit.",
                                                "minimum": 1
                                            },
                                            "comment": {
                                                "type": "string",
                                                "description": "Add a comment for this particular item."
                                            }
                                        },
                                        "required": [
                                            "media_type",
                                            "media_id",
                                            "comment"
                                        ]
                                    }
                                }
                            },
                            "required": [
                                "items"
                            ],
                            "example": {
                                "items": [
                                    {
                                        "media_type": "movie",
                                        "media_id": 194662,
                                        "comment": "Amazing movie!"
                                    },
                                    {
                                        "media_type": "movie",
                                        "media_id": 76203,
                                        "comment": "Wow."
                                    }
                                ]
                            }
                        }
                    },
                    {
                        "name": "Authorization",
                        "in": "header",
                        "description": "",
                        "required": true,
                        "type": "string",
                        "pattern": "\\s*[Bb]earer\\s+(.+)",
                        "default": "Bearer <<access_token>>"
                    },
                    {
                        "name": "Content-Type",
                        "in": "header",
                        "description": "",
                        "required": true,
                        "type": "string",
                        "default": "application/json;charset=utf-8"
                    }
                ],
                "responses": {
                    "200": {
[...]
